{% extends 'base.html' %}

{% block content %}
    <div class="categories-border"></div>
    <div class="container catalog delivery">
    <div class="catalog-menu">
        <div class="action-title">
            <span>О нас</span>
        </div>
        <div class="spec-items">
            <ul>
                <li {% if active_about == 'team' %}class="active"{% endif %}>
                    <a href="{% url 'team' %}">Команда
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_about == 'about' %}class="active"{% endif %}>
                    <a href="{% url 'about' %}">История создания
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_about == 'vacancy' %}class="active"{% endif %}>
                    <a href="{% url 'vacancy' %}">Вакансии
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_about == 'portfolio' %}class="active"{% endif %}>
                    <a href="{% url 'portfolio' %}">Портфолио
                        <span class="hover-arrow"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="catalog-items {% block catalog_bg %}{% endblock %}">
    <div class="catalog-items-top">
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                <li>
                    {% if forloop.last %}
                        <span>{{ b.0 }}</span>
                    {% else %}
                        <a href="{{ b.1 }}">{{ b.0 }}</a>
                    {% endif %}
                </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class="delivery-content">
            {% block delivery_content %}{% endblock %}
        </div>
    </div>

    </div>
{% endblock %}

{% block categories %}{% endblock %}