{% extends 'about/base.html' %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block delivery_content %}
    <div class="portfolio">
        <div class="about-clients">
            <a href="#" class="carousel-ctrl fr-goods-left">
                <img src="{{ STATIC_URL }}img/fr-left.png" />
            </a>
            <a href="#" class="carousel-ctrl fr-goods-right">
                <img src="{{ STATIC_URL }}img/fr-right.png" />
            </a>
            <div class="about-clients-carousel">
                {% for cl in fr_clients %}
                    <a href="javascript: return false;">
                        <img src="{{ cl.image.url }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="news news-page">
        {% for n in works %}
            <div class=" news-item" {% if forloop.counter|divisibleby:"4" %} style="margin-right: 0"{% endif %}>
            <a href="{{ n.photo.url }}" class="fancybox">
                {% thumbnail n.photo "210x130" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% endthumbnail %}
            </a>
                <div class="news-title">{{ n.title }}</div>
                <div class="news-date">{{ n.created|date:"M d, Y" }} &middot; {{ n.num_comments }} Comments</div>
                <div class="news-description">
                    {{ n.desc }}
                </div>
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}