{% extends 'about/base.html' %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block delivery_content %}
    <div class="team">
        {% for t in team %}
            <div class="team-item">
                <div>
                    {% thumbnail t.photo '184x228' crop='center' as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                </div>
                <div class="team-item-name">{{ t.name }}</div>
                <div class="team-item-title">{{ t.title }}</div>
                <div class="team-item-desc">{{ t.desc }}</div>
                {% if t.vk_link %}
                    <div class="team-item-links">
                        <a href="{{ t.vk_link }}">
                            <img src="{{ STATIC_URL }}img/vk-icon.png" />
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}