{% extends 'base.html' %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block content %}
    <div class="container registration">
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                    <li>
                        {% if forloop.last %}
                            <span>{{ b.0 }}</span>
                        {% else %}
                            <a href="{{ b.1 }}">{{ b.0 }}</a>
                        {% endif %}
                    </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="reg-body">
            <div class="row">
                <div class="col-xs-6">
                    {% thumbnail images.0.image '458x393' crop='center' as im %}
                        <img class="first" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    {% if opt_condition %}
                        <div class="action-title">Условия оптовой торговли</div>
                        <div class="condition-text">
                            {{ opt_condition.text|linebreaksbr }}
                        </div>
                    {% else %}
                        <div class="action-title">Условия аренды</div>
                        <div class="condition-text">
                            {{ rent_condition.text|linebreaksbr }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-6">
                    {% thumbnail images.1.image '458x393' crop='center' as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    <div class="action-title reg-form-title">Регистрация для юридических лиц</div>
                   <div>
                       Для получения доступа к прайсу позвоните по телефону +7 (812) 315-33-04
{#                       <form method="POST"#}
{#                             action="{% if opt_condition %}{% url 'registration_opt_ajax' %}{% else %}{% url 'registration_rent_ajax' %}{% endif %}"#}
{#                             id="reg-form-id">#}
{#                           {% csrf_token %}#}
{#                           <div class="form-group">#}
{#                               {{ form.first_name|add_class:"form-control"|attr:"placeholder:Имя"|attr:"required:required" }}#}
{#                           </div>#}
{#                           <div class="form-group">#}
{#                               {{ form.last_name|add_class:"form-control"|attr:"placeholder:Фамилия"|attr:"required:required" }}#}
{#                           </div>#}
{#                           <div class="form-group">#}
{#                               {{ form.middle_name|add_class:"form-control"|attr:"placeholder:Отчество"|attr:"required:required" }}#}
{#                           </div>#}
{#                           <div class="form-group">#}
{#                               {{ form.email|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"required:required" }}#}
{#                           </div>#}
{#                           <div class="form-group">#}
{#                               {{ form.phone|add_class:"form-control"|attr:"placeholder:Телефон" }}#}
{#                           </div>#}
{#                           <hr />#}
{#                           <button class="btn btn-dark">Регистрация</button>#}
{#                       </form>#}
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade success-modal " id="reg-success-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body login-form">
                    <div class="action-title">
                        <a href="#"> Вход в личный кабинет</a>
                    </div>
                    <form method="POST" action="{% url 'auth_login' %}" id="login-change-price-type-form-id">
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="login-email-id" name="email" type="text" class="form-control" placeholder="Your e-mail" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                        <button class="btn btn-default btn-dark">Вход</button>
                        <div class="clearfix"></div>
                    </form>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade success-modal" id="reg-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body">
                    <a href="{% url 'profile' %}" id="reg-modal-success-link-id" class="cart-line-modal">Поздравляем<span>&rarr;</span></a>
                    <p>
                        {% if reg_opt_msg %}{{ reg_opt_msg.text }}{% endif %}
                        {% if reg_rent_msg %}{{ reg_rent_msg.text }}{% endif %}
                    </p>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block categories %}{% endblock %}