{% extends 'base.html' %}

{% block content %}
    <div class="categories-border"></div>
    <div class="container catalog delivery">
    <div class="catalog-menu">
        <div class="action-title">
            <span>Оплата и доставка</span>
        </div>
        <div class="spec-items">
            <ul>
                <li {% if active_delivery == 'payway' %}class="active"{% endif %}>
                    <a href="{% url 'delivery-payway' %}">Способ оплаты
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_delivery == 'deliveryway' %}class="active"{% endif %}>
                    <a href="{% url 'delivery-way' %}">Варианты доставки
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_delivery == 'calc' %}class="active"{% endif %}>
                    <a href="{% url 'delivery-calc' %}">Калькулятор доставки
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_delivery == 'feedback' %}class="active"{% endif %}>
                    <a href="{% url 'delivery-feedback' %}">Обратная связь
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                <li {% if active_delivery == 'support' %}class="active"{% endif %}>
                    <a href="{% url 'delivery-support' %}">Тех. Поддержка
                        <span class="hover-arrow"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="catalog-items {% block catalog_bg %}{% endblock %}">
    <div class="catalog-items-top">
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                <li>
                    {% if forloop.last %}
                        <span>{{ b.0 }}</span>
                    {% else %}
                        <a href="{{ b.1 }}">{{ b.0 }}</a>
                    {% endif %}
                </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class="delivery-content">
            {% block delivery_content %}{% endblock %}
        </div>
    </div>

    </div>
{% endblock %}

{% block categories %}{% endblock %}