{% extends 'delivery/base.html' %}

{% load widget_tweaks %}

{% block delivery_content %}
    {{ desc_block|safe }}

    <table class="cart-items">
        <tr>
            <td colspan="2" class="delivery-city">
                <div>
                    {{ order_form.city|add_class:"form-control"|attr:"placeholder:Адрес доставки" }}
                </div>
            </td>
            <td>
                <div class="delivery-city-desc paid-delivery-block cart-city delivery-page">
                    <span class="cart-money"></span> рублей, <span class="cart-time"></span>
                </div>
            </td>
        </tr>
    </table>

{% endblock %}