{% extends 'delivery/base.html' %}

{% load widget_tweaks %}

{% block delivery_content %}
    {{ desc_block|safe }}
   <div class="reg-body">
       <img src="{{ STATIC_URL }}img/reg-top-img.jpg" />
       <form method="POST"
             action="{% url 'feedback-ajax' %}"
             id="fb-form-id">
           {% csrf_token %}
           <div class="form-group">
               {{ form.name|add_class:"form-control"|attr:"placeholder:Имя"|attr:"required:required" }}
           </div>
           <div class="form-group">
               {{ form.email|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"required:required" }}
           </div>
           <div class="form-group">
               {{ form.text|add_class:"form-control"|attr:"placeholder:Текст"|attr:"required:required"|attr:"rows:5" }}
           </div>
           <button class="btn btn-dark">Отправить</button>
       </form>
   </div>
{% endblock %}