@font-face {
    font-family: 'vegurregular';
    src: url('/static/fonts/vegur-regular-webfont.eot');
    src: url('/static/fonts/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/vegur-regular-webfont.woff') format('woff'),
         url('/static/fonts/vegur-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/vegur-regular-webfont.svg#vegurregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('/static/fonts/helveticaneuecyr-light-webfont.eot');
    src: url('/static/fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('/static/fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: MyriadPro; /* Гарнитура шрифта */
    src: url("/static/fonts/MyriadPro.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MyriadProBold; /* Гарнитура шрифта */
    src: url("/static/fonts/MyriadPro-Bold.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MyriadProCondIt; /* Гарнитура шрифта */
    src: url("/static/fonts/MyriadPro-CondIt_0.ttf"); /* Путь к файлу со шрифтом */
}

body {
    font-family: helveticaneuecyrlight;
}

.header {
    background: white;
    max-width: 1400px;
    height: 216px;
}

.header .menu li {
    float: left;
    color: #6d6d6d;
    /*padding-left: 10px;*/
    float: left;
    /* margin-left: 26px; */
    margin-right: 25px;
    text-transform: uppercase;
}

.header .menu-block,
.header .header-phone {
    /*position: absolute;*/
    /*top: 50%;*/
    height: 213px;
    /*margin-top: -25px;*/
    /*line-height: 213px;*/
    font-size: 13px;
}

.header .menu-block {
    line-height: 213px;
}

.header .header-phone div {
    position: absolute;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    right: 50%;
    margin-right: -95px;
    width: 190px;}

.header .header-phone {
    text-align: right;
    padding-right: 55px;
    font-style: italic;
    font-family: Georgia;
}

.header .header-phone span.phone-desc {
    font-size: 12px;
}

.header .header-phone span.phone {
    /*background: url('/static/img/phone_icon.png') 0px center no-repeat;*/
    /*padding-left: 25px;*/
    display: inline-block;
    height: 20px;
    font-size: 20px;
}

.header .menu li:first-of-type {
    list-style: none;
}

.header .menu li a {
    color: #292317;
}

.header-logo {
    background: url("/static/img/header-logo.png") no-repeat;
    width: 346px;
    height: 213px;
    margin: 0 auto;
}


.main-banner {
    text-align: center;;
    max-width: 1440px;
    margin: auto;
}

.main-banner img {
    width: 100%;
    margin: 0 auto;
}

.slider-controls {
    height: 30px;
}

.slider-controls-border {
    height: 5px;
    background: url('/static/img/slider-controls-border.png') repeat-x;
}

.actions {
    padding-top: 35px;
}

.action-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #adaba8;
    margin-bottom: 20px;
    font-size: 14px;
}

.action-title a,
.action-title span
{
    color: #292317;
    text-transform: uppercase;
}

.action-title a:hover {
    color: #292317;
}

.action-more a,
.action-more a:hover {
    color: #cc2357;
    font-size: 14px;
}

.action-body {
    min-height: 100px;
}

.actions div.col-lg-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.action-more {
    /*position: absolute;*/
    /*bottom: 0px;*/
}

.action-item {
    margin-bottom: 54px;
    width: 160px;
    float: left;
}

.good-item {
    text-align: center;
    width: 107px;
    margin-left: 48px;
    float: left;
    min-height: 183px;
    position: relative;
}

.good-item img {
    border: 1px solid #000000;
    margin-bottom: 50px;
}

.good-item-name,
.good-item-price
{
    text-transform: uppercase;
    font-size: 14px;
    background: white;
}

.good-item-name {
    color: #292317;
    line-height: 14px;
}

.buy-block span {
    font-size: 13px;
}

.good-item-price {
    color: #cc2357;
    font-size: 14px;
}

.actions .row:last-of-type {
    /*padding-bottom: 40px;*/
}

.actions-border {
    height: 3px;
    background: url('/static/img/actions-border.png') repeat-x;
}

.footer {
    height: 65px;
    line-height: 65px;
    background: #2c2925;
    color: #979190;
    font-style: italic;
    padding-left: 17px;
    font-family: Georgia;
    font-size: 10pt;
}

.news {
    margin-top: 40px;
}

.news-title {
    text-transform: uppercase;
    margin-top: 17px;
    font-size: 13pt;
    line-height: 1.1;
    font-family: helveticaneuecyrlight;
}

.news-date {
    line-height: 40px;
    color: #979190;
    font-style: italic;
    font-family: Georgia;
    font-size: 12pt;
}

.news-description {
    padding-bottom: 40px;
    font-family: Arial;
    font-size: 10pt;
}

.action-description {
    font-size: 15px;
}

.news .action-description {
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 10pt;
}

.news .news-item {
    overflow: hidden;
    padding: 0;
    padding-left: 0px;
    margin-right: 7px;
    width: 235px;
    display:-moz-inline-stack;/*Firefox 2*/
    display:inline-block; /*Хорошие браузеры*/
    _overflow:hidden;/*IE6, IE7*/
    *zoom:1;/*включаем hasLayout для IE6, IE7*/
    *display:inline;/*при hasLayout true display:inline в IE6, IE7 ведёт себя как display:inline-block*/
    vertical-align: top;
}

.news .news-item:last-of-type {
    margin-right: 0;
}

.news .action-item {
    width: 212px;
    margin-right: 15px;
    margin-left: 20px;
}

.category-name {
    margin-top: 15px;
    text-align: center;
    background: url("/static/img/cat-border.png") repeat-x;
    background-position-y: 10px;
    width:230px;
    margin-bottom: 30px;
    min-height: 54px;
    margin-top: -30px;
}

.category-name div {
    margin: 0 auto;
    text-align: center;
    width: 140px;
    background: white;
    font-size: 14px;
    line-height: 27px;
    text-transform: uppercase;
}

.categories {
    padding-bottom: 10px;
}

.categories a,
.categories a:hover
{
    color: #333;
}

.categories-border {
    height: 5px;
    background: url("/static/img/news-border.png") repeat-x;
}

.categories-more{
    text-align: right;
}

.categories-more a,
.categories-more a:hover
{
    color: #cc2357;
    font-size: 14px;
}

.footer-menu {
    background: #f7f5f2;
    padding-top: 30px;
}

.social-btns div {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 10px;
}

.social-btns div a img {
    margin-right: 14px;
}

.social-btns div a:last-of-type img {
    margin-right: 0;
}

.footer-our-projects a img {
    margin-left: 26px;
}

.footer-our-projects a:first-of-type img {
    margin-left: 0;
}

.about-description,
.opt-description,
.footer-our-projects p{
    font-style: italic;
    font-family: Georgia;
    font-size: 10pt;
}

.footer-menu div.col-lg-2,
.footer-menu div.col-lg-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-dark {
    background: #2a292c;
    color: white;
    font-style: italic;
    width: 95px;
    height: 20px;
    float: right;
    border: 0px;
    padding: 0;
    line-height: 20px;
    font-family: Georgia;
    font-size: 10pt;;
}


.fr-packets-modal form .form-control,
#fr-check-city-id form .form-control,
.franchise form .form-control,
.private-controls .form-control,
.reg-body .form-control,
.cart-items .form-control,
.login-form .form-control {
    border-radius: 0px;
    font-style: italic;
    height: 25px;
    line-height: 25px;
    padding-top: 0px;
    font-family: Georgia;
    font-size: 10pt;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.login-form #login-email-id {
    padding-top: 8px;
}

.login-form .form-group {
    margin-bottom: 5px;
}

.contacts-info {
    font-family: Arial;
    font-size: 10pt;
    width: 163px;
}

.about-description {
    font-family: Georgia;
    font-size: 10pt;
}

.modal {
    font-family: Arial;
}

.modal-body p {
    text-align: center;
}

.good-item-preview-border {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 106px;
    height: 106px;
    padding: 2px;
    border: 1px solid #000000;
}

.flatpage .action-title {
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 35px;
}

.flat-text {
    font-family: Arial;
    font-size: 10pt;
    margin-bottom: 15px;
}

.flatpage .action-more  {
    text-align: right;
}

.flatpage .action-more.last {
    margin-bottom: 70px;
}

.flat-images img.first {
    margin-right: 20px;
}

.breadcrumbs {
    font-size: 15px;
    clear: both;
    height: 35px;
}

.breadcrumbs ul {
    padding-left: 0px;
}

.breadcrumbs ul li {
    list-style: none;
    float: left;
    padding-right: 5px;
}

.breadcrumbs ul li a,
.breadcrumbs ul li span,
.breadcrumbs ul li a:hover,
.items-sort-page
{
    color: #6c6d71;
}

.catalog-menu {
    float: left;
    width: 170px;
    /*margin-left: -100px;*/
}

.catalog-items.bg {
    background: url('/static/img/bg_catalog.png') center center no-repeat;
}
.catalog-items {
    /*margin-left: 92px;*/
    width: 780px;
    float: left;
}

.catalog-menu .action-title {
    margin-top: 13px;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

.spec-items ul {
    margin-left: 0;
    padding-left: 0;
}

.spec-items ul li {
    list-style: none;
}

.spec-items ul li a {
    color: #333;
    font-size: 13px;
    font-family: Arial;
}

.spec-items ul li.active a {
    color: #cc2357;
}

.container.catalog {
    padding-left: 8px;
    overflow: visible;
}

.catalog-items-top {
    border-bottom: 1px solid #adaba8;
    height: 32px;;
}

.catalog-items-top .breadcrumbs {
    width: 500px;
    clear: none;
    margin-left: 20px;
}

.basket,
.basket a:hover,
.basket a div
{
    color: #6c6d71;
    font-family: Arial;
}

.basket div
{
    float: left;
    line-height: 15px;
    padding-top: 5px;
}

.number-in-basket {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eee;
    border-radius: 2px;
    border: 1px solid #ccc;
    line-height: 15px;
    margin-left: 20px;
}

.pagination {
    margin: 0;
}

.items-sort-page {
    padding-top: 10px;
    font-family: Arial;
}

.items-sort {
    width: 400px;
    float: left;
    margin-left: 50px;
    /*padding-left: 50px;*/
}

.items-sort button {
    background: transparent;
    border: 0;
}

.items-sort-page a,
.items-sort-page a:hover
{
    color: #6c6d71;
    margin-left: 5px;
}

.items-sort-page a.active {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #eee;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.items-body {
    margin-top: 30px;
}

.items-body .good-item {
    margin-bottom: 20px;
    position: relative;
}

.catalog {
    background: url('/static/img/items-bg.png') 184px 0 repeat-y;
    margin-bottom: 40px;
    margin-top: 5px;
}

.items-sort-page.bottom {
    clear: both;
}

.col-xs-2,
.col-xs-3
{
    padding-left: 5px;
    padding-right: 5px;
}

.sort-arrow-up {
    display: inline-block;
    background: url('/static/img/sort_arrow.png') no-repeat;
    height: 11px;
    width: 6px;
}

.sort-arrow-down {
    display: inline-block;
    background: url('/static/img/sort_arrow_down.png') no-repeat;
    height: 11px;
    width: 6px;
}
.catalog-menu ul li a:hover {
    text-decoration: none;
}
.catalog-menu ul li a:hover span.hover-arrow {
    background: url('/static/img/catalog_hover_arrow.png') no-repeat;
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 20px;
}

.basket-icon {
    display: inline-block;
    background: url('/static/img/basket.png') no-repeat;
    width: 19px;
    height: 24px;
    margin-right: 6px;
}

.items-widget {
    position: absolute;
    top: 2px;
    left: -11px;
}

.items-widget.heart {
    background: url('/static/img/icon_item_heart.png') no-repeat;
    width: 31px;
    height: 39px;
}

.items-widget.new {
    background: url('/static/img/icon_item_new.png') no-repeat;
    width: 31px;
    height: 39px;
}

.items-widget.sales {
    background: url('/static/img/icon_item_sales.png') no-repeat;
    width: 31px;
    height: 39px;
}

.price-filter ul li input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.price-filter ul li input[type="checkbox"] + label {
    /*background: url('/static/img/price_filter_checkbox.png') 0 0 no-repeat;*/
    background: url('/static/img/checkbox-sprite.png') 0 0 no-repeat;
    padding-left: 20px;
    color: #333;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    height: 13px;
}

.price-filter ul li:hover span.hover-arrow {
    background: url('/static/img/catalog_hover_arrow.png') no-repeat;
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-left: 20px;

}

.price-filter ul li input[type="checkbox"]:checked + label {
    background: url("/static/img/checkbox-sprite.png") 0 -13px no-repeat;
    color: #cc2357;
}

.item-big-pic {
    float: left;
    /*margin-right: 10px;*/

}

.item-images {
    float: left;
}

.item-thumbs {
    width: 103px;
    /*margin-left: 430px;*/
    /*min-height: 430px;*/
}

.item-thumbs a img {
    margin-bottom: 5px;
}

.item-thumbs a.chosen img {
    border: 2px solid #fd99c7;
}

.item-detail {
    margin-top: 15px;
    padding-left: 20px;
}

.item-cart {
    float: left;
    width: 305px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.item-cart h1 {
    margin-top: 0px;
    font-family: MyriadProBold;
    font-size: 20pt;
}

.item-cart .art,
.cart-item .art{
    font-size: 14px;
}

.item-cart .price {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #adaba8;
    margin-bottom: 10px;
}

.item-cart .chars {
    line-height: 1.1;
    font-size: 15px;
    padding-bottom: 10px;
}

.item-cart .desc,
.cart-item .desc{
    font-size: 15px;
}

.item-cart .desc-title,
.cart-item .desc-title
{
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*font-size: 18px;*/
}

.item-cart .desc-text,
.cart-item .desc-text
{
    /*font-size: 18px;*/
    line-height: 1.1;
}

.item-cart .exists {
    font-family: MyriadProCondIt;
    font-size: 15pt;
    color: #8ed55a;
}

.buy-block {
    margin-top: 15px;
}

.buy-block .btn-dark {
    margin-right: 20px;
}

.addon-items,
.addon-services
{
    clear: both;
    margin-top: 100px;
    padding-left: 20px;
}

.comments {
    padding-left: 20px;
}

.addon-items .action-item,
.addon-services .action-item
{
    width:  160px;
    float: left;
}

.addon-services .good-item,
.addon-items .good-item {
    margin-left: 12px;
}

.comments-title {
    clear: both;
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #6d6d6d;
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    padding-left: 3px;
    width: 180px;
}

.comments-title span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('/static/img/vk-bg.png') no-repeat;
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

.vk-comments {
    border: 2px solid #6d6d6d;
    padding: 5px;
}

.required-info {
    color: red;
    text-align: center;
}

.yashare-auto-init {
    margin-bottom: 20px;
    clear: both;
    padding-top: 20px;
}

.footer-categories-item {
    display: inline-block;
    margin-right: 4px;
}
.footer-categories-item.last{
    margin-right: 0;
}
.footer-categories-item div.category-image-wrapper {
    width: 231px;
    min-height: 268px;
}

.actions-spec-item {
    clear: both;
}

.carousel-indicators li {
    /*border: 1px solid #000;*/
    margin: 5px;
    background: #7f7b74;
    width: 12px;
    height: 12px;
}

.carousel-indicators li:hover {
    background: #292317;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators .active {
    background: #cc2357;
    margin: 5px;
    width: 12px;
    height: 12px;
}

.news-page .news-item{
    width: 230px;
}

.news.news-page {
    margin-top: 30px;
}

.news-photo {
    width: 484px;
    float: left;
    position: relative;
    margin-right: 20px;
}

.news-thumbs {
    margin-top: 30px;
}

.news-thumbs img {
    margin-right: 30px;
}

.news-thumbs a:last-of-type img {
    margin-right: 0px;
}

.news-page .vk-comments {
    width: 860px;
}

.news-page .news-pagination {
    margin-top: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.news-page .news-pagination a:hover,
.news-page .news-pagination a {
    font-size: 18px;
    color: #cc2357;
}


.cart-items table.table > tbody > tr > td:first-of-type {
    padding-left: 0;
    padding-right: 0;
}
.cart-items table.table > tbody > tr > td {
    border: 0;
}

.cart-items .form-control {
    padding-top: 5px;
    padding-left: 5px;
}

.cart-items select.form-control {
    padding-top: 3px;
    padding-bottom: 3px;
}

.cart-items textarea.form-control {
    height: 100px;

}

.cart-items .bg-dark {
    background: #f0f0f2;
}

.cart-items thead tr td {
    padding-bottom: 0;
}

.cart-items thead tr td div {
    text-align: center;
    color: #6e6e70;
}

.btn-dark:hover,
.btn-dark:focus {
    color: #fff;
}

.cart-item,
.bottom-border
{
    border-bottom: 1px solid #aaa;
}

.btn-pay {
    float: none;
    margin: 0 auto;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-bottom: 20px;
}

.cart-items div.action-title {
    border: 0;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 0;
}

.hidden {
    display: none;
}

#buy-modal-id {
    font-family: helveticaneuecyrlight;
}

.success-modal .modal-dialog,
#buy-modal-id .modal-dialog{
    width: 700px;
    margin: 50px auto;
}

.success-modal .modal-header ,
#buy-modal-id .modal-header {
    border: 0;
}

.success-modal .modal-content ,
#buy-modal-id .modal-content {
    border-radius: 0;
}

#buy-modal-id .addon-items {
    margin-top: 20px;
}

#buy-modal-id .action-item,
#buy-modal-id .good-item
{
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
}

#buy-modal-id p {
    font-size: 14px;
}

.cart-line-modal {
    display: block;
    text-transform: uppercase;
    font-size: 19px;
    background: url('/static/img/basket.png') no-repeat;
    padding-left: 30px;
    margin: 0 auto;
    font-family: Arial;
    width: 275px;
}

a.cart-line-modal,
a.cart-line-modal:focus,
a.cart-line-modal:hover
{
    color: #ff416f;
}

.cart-del a {
    display: block;
    background: url('/static/img/cart-del.png');
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

.cart-money,
.currency,
.summary-title{
    text-align: center;
    font-size: 17px;
    color: #6e6e70;
}

.cart-items .number-in-basket {
    width: 30px;
    font-size: 17px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.cart-promo,
.summary-title,
.cart-summary{
    text-align: center;
}

.cart-promo span{
    color: #ff1a3b;
}

.cart-items .form-control {
    width: 260px;
}

.cart-items textarea.form-control {
    width: 388px;
}

.phone-mail-row .form-control {
    display: inline-block;
}

.phone-mail-row #id_email {
    margin-left: 30px;
}

.delivery-title {
    color: #6e6e70;
    font-size: 14px;
}

#promocode,
.btn-promo-check{
    display: inline-block;
}

.btn-promo-check {
    float: none;
    margin-left: 30px;
}

#promocode::-webkit-input-placeholder { /* WebKit browsers */
    color: #fb396d;
    opacity: 0.5;
}
#promocode:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fb396d;
    opacity:  0.5;
}
#promocode::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fb396d;
    opacity:  0.5;
}
#promocode:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fb396d;
    opacity:  0.5;
}

.delivery-city div{
    display: inline-block;
    text-align: left;
}

.delivery-city-desc {
    margin-left: 30px;
    font-family: Georgia;
    font-style: italic;
    width: 50%;
    vertical-align: top;
}

.delivery-city-desc span {
    color: #333;
    font-size: 14px;
}

/*.delivery .catalog-menu {*/
    /*width: 190px;*/
/*}*/

/*.delivery.catalog {*/
    /*background-position-x: 109px;*/
/*}*/

.delivery-content {
    padding: 20px;
    font-family: Arial;
    min-height: 380px;
}

.delivery-city-desc.delivery-page {
    font-family: Arial;
    font-style: normal;
    width: 100%;
}

.delivery-content .reg-body img {
    width: 290px;
    float: right;
}

.delivery-content .reg-body form {
    width: 450px;
}

/*.delivery .catalog-items {*/
    /*margin-left: 112px;*/
/*}*/

.cart-item h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
}

.cart-item-more {
    text-align: center;
}

.cart-item-more a,
.cart-item-more a:hover
{
    color: #fe0a48;
}

.cart-item-img {
    text-align: center;
}

.cart-city {
    text-align: center;
}

.cart-pay-way {
    /*background: url('/static/img/cart-footer.jpg') no-repeat;*/
    width: 300px;
    height: 62px;
    margin: 10px auto;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

.cart-pay-way-vars {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cart-pay-way-title,
.cart-pay-way-sale{
    font-family: Georgia;
    font-style: italic;
}

.cart-pay-way-title {
    color: #c1c1c1;
}

.cart-pay-way-sale {
    text-align: right;
}

.cart-pay-way-sale span {
    color: #fb396e;
}

#order-modal .modal-content div {
    padding: 15px;
    text-align: center;
}

.form-control.wrong-field {
    border: 1px solid #FFCDDA;
}

#order-modal .btn-dark {
    float: none;
    margin-top: 20px;
}

.jq-selectbox
{
    border-radius: 1px;
    border-color: #CCCCCC;
    background: #e6e7e8;
    color: #6d6e71;
    margin-right: 30px;
}

.jq-selectbox__select {
    border-color: #CCCCCC;
    background: #e6e7e8;

}

.jq-selectbox li:hover {
   background: #e6e7e8;
   color: #6d6e71;

}

.btn-buy {
    height: 30px;
}

.jq-selectbox__trigger-arrow{
    border-top: 5px solid #cc2357;
    opacity: 1;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}

.private-controls {
    margin-top: 20px;
}

.private-data-block {
    padding-left: 20px;
}

.private-controls .form-control {
    width: 260px;
    padding-top: 3px;
}

.private-controls .btn-dark {
    float: none;
}

.spec-items ul li ul {
    margin-left: 20px;
}

.order-info div {
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logged-user-email {
    font-family: Georgia;
    font-style: italic;
    padding-left: 30px;
}

.reg-body {
    margin-bottom: 20px;
}

.reg-body img {
    margin-bottom: 20px;
}

.reg-body input.form-control {
    padding-top: 5px;
    width: 254px;
}

.reg-form-title {
    text-transform: uppercase;
}

#fb-form-id textarea {
    height: auto;
}

.condition-text {
    font-size: 15px;
    line-height: 1.1;
    font-family: Arial;
}

.footer-menu .profile-links a {
    font-size: 15px;
}

.subscribe {
    background: #928f8b;
    margin-bottom: 20px;
}

.subscribe-left {
    display: inline-block;
    padding: 20px;
    width: 50%;
    color: #ebebeb;
}

.subscribe-desc {
    font-size: 14px;
}

.subscribe-left .action-title {
    padding-bottom: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #ebebeb;
}


.subscribe-right {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 49%;
}

.subscribe-right input {
    width: 65%;
    float: left;
    margin-top: 15px;
    border-radius: 0px;
    border: 1px solid #fcb0f8;
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
    font-size: 17px;
}

.success-subscriber {
    display: none;
    line-height: 50px;
    color: white;
    font-size: 18px;
}

.subscribe-right button {
    margin-top: 20px;
}

#reg-modal-id .cart-line-modal {
    width: 210px;
}

.reg-change-modal-desc {
    color: #ff3767;
    font-family: Georgia;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 43px;
    margin-top: 35px;
    margin-right: 20px;
}

.change-price-type-modal#change-price-type-modal-id .modal-content {
    border-radius: 0;
}

.change-price-type-modal#change-price-type-modal-id .modal-header {
    border: 0;
}

.change-price-type-modal .modal-dialog {
    width: 770px;
    margin: 50px auto;
}

.change-price-type-modal .login-form {
    border-left: 1px solid #adaba8;
    width: 310px;
    padding-left: 30px;
}

.change-price-type-modal .action-title a {
    font-family: helveticaneuecyrlight;
}

.change-price-type-modal .reg-info {
    width: 55%;
    padding-left: 35px;
}

.change-price-type-vars {
    display: none;
}

.empty-cart {
    min-height: 300px;
    padding-top: 30px;
}

.rent-min-price {
    text-align: center;
    margin-bottom: 20px;
}

span.price-updated {
    color: #fa396c;
}

.old-price {
    color: #fa396c;
    text-decoration: line-through;
    margin-left: 57px;
}

.old-price > span {
    color: #aaa;
}

.news-thumbs-left,
.news-thumbs-right {
    position: absolute;
    bottom: 35px;
}

.news-thumbs-left {
    left: 0;
}

.news-thumbs-right {
    right: 0;
}

#item-thumbs-prev,
#item-thumbs-next {
    display: block;
    text-align: center;
}

.item-thumbs-wrapper {
    width: 86px;
    margin-left: 335px;
}

#reg-success-modal-id .modal-dialog {
    width: 440px;
}

.item-color {
    margin-right: 0;
}

.buy-type {
    width: 100%;
    margin-bottom: 20px;
}

.item-color {
    width: 100%;
    margin-bottom: 20px;
}

.main-page-text {
    margin-bottom: 20px;
    font-family: Arial;
}

.main-page-text-block .action-title {
    border-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

.search-form {
    padding-left: 40px;
}

.search-form input {
    position: absolute;
    bottom: 4px;
    width: 210px;
    height: 25px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.search-form img {
    position: absolute;
    bottom: 9px;
    left: 250px;
    z-index: 9;
}

.order-call {
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    width: 155px;
    height: 20px;
    background: #353635;
    border: 0;
    font-family: helveticaneuecyrlight;
    font-style: normal;
    font-size: 12px;
    padding-top: 1px;
    line-height: 20px;
    letter-spacing: 1px;
}

.header .header-phone div.login-top {
    width: 210px;
    top: auto;
    bottom: -27px;
    font-size: 12px;
}

.login-top a {
    margin-left: -2px;
    color: #ff00c0;
}

.new-modal {
    width: 520px;
    margin: 100px auto 0;
    overflow: visible;
}

.new-modal .modal-content {
    border-radius: 0;
    border: 1px solid #c1c0c0;
}

.new-modal form {
    width: 210px;
    margin: 0 auto;
}

.new-modal .form-group {
    margin-bottom: 5px;
}

.new-modal button {
    width: 130px;
    margin-top: 10px;
}

.new-modal .modal-header {
    text-transform: uppercase;
    text-align: center;
    font-family: Helvetica;
    color: #6d6e71;
    border-bottom-color: #adaba8;
    margin-left: 10px;
    margin-right: 10px;
}

.new-modal .modal-header button {
    width: auto;
}

.new-modal input[type="text"],
.new-modal input[type="password"]
{
    width: 210px;
    height: 25px;
    font-style: italic;
    border-radius: 0;
    border: 1px solid #c1c0c0;
    font-family: Georgia;
    font-size: 10pt;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 5px;
}

.order-call-info {
    text-align: center;
    font-style: italic;
    color: #ff00c0;
    display: none;
}

#login-modal-id .modal-body button {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#login-alert-id .modal-body {
    color: #ff00c0;
}

.video-wrapper {
    width: 960px;
    height: 400px;
    background: darkgray;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-wrapper form {
    background: #e63792;
    position: absolute;
    width: 240px;
    height: 240px;
    bottom: 20px;
    right: 20px;
    padding: 10px;
}

.video-wrapper form button {
    width: 100%;
    margin-top: 10px;
    height: 25px;
}

.franchise-form-title {
    text-transform: uppercase;
    color: #fff;
    font-family: helveticaneuecyrlight;
    font-size: 13px;
    margin-bottom: 25px;
    text-align: center;
}

.franchise form .form-control {
    padding-bottom: 0;
}

.fr-buble {
    width: 174px;
    height: 174px;
    background: url('/static/img/fr-buble.png') no-repeat;
    position: absolute;
    bottom: 35px;
}

.fr-buble div {
    text-transform: uppercase;
    color: white;
    font-family: helveticaneuecyrlight;
    font-size: 12px;
    padding-top: 76px;
    text-align: center;
    letter-spacing: 1px;
}

#fr-buble-1 {
    left: 64px;
}

#fr-buble-2 {
    left: 254px;
}

#fr-buble-3 {
    left: 444px;
}

.fr-block-title {
    padding-left: 20px;
    padding-right: 20px;
}

.fr-border{
    background: url('/static/img/actions-border.png') repeat-x;
    height: 3px;
}

.fr-block-title-text {
    font-size: 36px;
    text-transform: uppercase;
    color: #292317;
    text-align: center;
    font-family: helveticaneuecyrlight;
}

.fr-block-body {
    position: relative;
    margin-top: 30px;
}

.fr-block-body .fr-buble {
    bottom: 15px;
}

#fr-buble-4 {
    left: 24px;
}

#fr-buble-5 {
    left: 204px;
}

#fr-buble-6 {
    left: 384px;
}

#fr-buble-7 {
    left: 564px;
}

#fr-buble-8 {
    left: 744px;
}

.fr-tr div {
    text-transform: uppercase;
    font-family: helveticaneuecyrlight;
    font-size: 14px;
}

.fr-tr {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 86px;
    width: 259px;
    margin-bottom: 35px;
}

.fr-tr img {
    margin-bottom: 5px;
}

.fr-block-bottom {
    background: #e63792;
    padding-top: 20px;
    margin-bottom: 20px;
}

.fr-block-bottom-title {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: helveticaneuecyrlight;
    color: white;
}

.fr-block-bottom form .form-group {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
}

.fr-block-bottom form button {
    float: left;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2px;
}

.fr-block-bottom form {
    padding-left: 60px;
}

.fr-block-bottom-border {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background: #d3d0c9;
    margin-left: 10px;
    margin-right: 10px;
}

.timer {
    text-align: center;
}

.timer-desc {
    color: white;
    font-size: 11px;
    height: 20px;
    position: relative;
}

.timer-desc span {
    position: absolute;
}

.fr-block-body .carousel-ctrl {
    position: absolute;
    top: 40px;
    z-index: 9;
}

.fr-goods .good-item {
    margin: 0 auto;
    width: 157px;
}

.fr-goods .good-item-preview-border {
    padding: 3px;
    width: 158px;
    height: 158px;
}

.fr-goods {
    min-height: 210px;
    width: 860px;
    margin: 0 auto;
    padding-left: 27px;
}

.fr-goods-right {
    right:0;
}

.fr-you-can .fr-tr {
    width: 203px;
    margin-right: 30px;
}

.fr-you-can .fr-tr div {
    font-size: 11px;
}

.fr-works-block .fr-block-bottom form .form-group ,
.fr-you-can .fr-block-bottom form .form-group {
    margin-right: 15px;
}

.fr-about {
    margin-bottom: 20px;
}

.fr-clients {
    min-height: 210px;
    width: 860px;
    margin: 0 auto;
}

.fr-clients img {
    width: 190px;
    margin-top: 30px;
}

.fr-work-block {
    width: 659px;
    position: relative;
    margin: 0 auto;
}

.fr-work-name {
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    line-height: 27px;
    position: absolute;
    background: #e63792;
    border: 1px solid #fff;
    border-right: 0;
    right: 0;
    bottom: 20px;
    font-style: italic;
    color: white;
    font-family: Georgia;
}

.fr-works {
    margin-bottom: 30px;
}

.fr-works-block .carousel-ctrl {
    top: 80px;
}

.fr-reason {
    text-transform: uppercase;
}

.fr-reason .fr-reason-img-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fr-reason ul li {
    margin-bottom: 20px;
    list-style-image: url('/static/img/fr-reason-disc.png');
}

.fr-reason-ans {
    padding-left: 20px;
    padding-right: 20px;
}

.fr-ans {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.fr-tr-sep {
    width: 111px;
    display: inline-block;
    vertical-align: top;
    margin-top: 91px;
}

.fr-guide .fr-tr {
    margin-right: 0;
    width: 235px;
    margin-bottom: 20px;
}

.fr-guide .fr-tr div {
    font-size: 11px;
}

.fr-packets-wrapper {
    min-height: 320px;
    margin-bottom: 20px;
}

.fr-packet {
    position: relative;
    width: 235px;
    display: inline-block;
    vertical-align: top;
    margin-right: 120px;
}

.fr-packet-pin {
    position: absolute;
    width: 173px;
    height: 173px;
    top: 140px;
    left: 66px;
    text-align: center;
}

.fr-packet-pin div {
    text-transform: uppercase;
    color: white;
    font-family: helveticaneuecyrlight;
    font-size: 12px;
    padding-top: 76px;
    text-align: center;
    letter-spacing: 1px;
}

.fr-packet-pin a {
    color: white;
    font-family: Georgia;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    line-height: 40px;
}

#fr-packet-pin-1 {
    background: url('/static/img/fr-packet-pin-1.png') no-repeat;
}
#fr-packet-pin-2 {
    background: url('/static/img/fr-packet-pin-2.png') no-repeat;
}
#fr-packet-pin-3 {
    background: url('/static/img/fr-packet-pin-3.png') no-repeat;
}

.fr-check-city {
    width: 390px;
    margin: 100px auto;
    margin-bottom: 250px;
}

.fr-check-city span{
    text-transform: uppercase;
    line-height: 30px;
}

.fr-check-city button {
    height: 30px;
    line-height: 27px;
}

.fr-map .fr-block-title-text {
    font-size: 29px;
}

#fr-check-city-id .modal-header,
#fr-order-id .modal-header {
    padding: 10px;
}

#fr-check-city-id .modal-body,
#fr-order-id .modal-body {
    color: #e63792;
    font-style: italic;
    font-size: 14px;
}

#fr-check-city-id form {
    width: 100%;
}

.new-modal .modal {
    overflow-y: visible;
}

.new-modal .modal-bottom {
    padding: 15px;
    background: #e63792;
}

#fr-check-city-id .modal-content {
    border: 0;
}

#fr-check-city-id form .form-control {
    padding-bottom: 0;
    margin-bottom: 20px;
}

#fr-check-city-id form button {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    float: left;
}

.fr-packets-modal .modal-content {
    border: 0;
}

.fr-packets-modal .modal-header {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
}

#fr-packet-modal-1-id .modal-header,
#fr-packet-modal-1-id .modal-bottom
{
    background: #4baf4b;
}

#fr-packet-modal-2-id .modal-header,
#fr-packet-modal-2-id .modal-bottom
{
    background: #2e6ee4;
}

#fr-packet-modal-3-id .modal-header,
#fr-packet-modal-4-id .modal-bottom
{
    background: #e63792;
}

#fr-packet-modal-1-id .modal-header,
#fr-packet-modal-2-id .modal-header,
#fr-packet-modal-3-id .modal-header {
    color: white;
}

.fr-packets-modal .fr-packet-title {
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.fr-packets-modal form {
    width: 100%;
}

.fr-packets-modal form .form-control {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.fr-packets-modal form button {
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    float: none;
    width: auto;
    margin-left: 30px;
    margin-top: 0;
}

.fr-nav {
    margin-top: 25px;
    width: 250px;
    text-transform: uppercase;
    padding-left: 40px;
    z-index: 1;
    position: relative;
    background: white;
}

.fr-nav-chzn {
    line-height: 25px;
    height: 25px;
    border: 1px solid #bebdbd;
    padding-left: 40px;
    background: url('/static/img/fr-nav-arrow.png') no-repeat;
    background-position-x: 190px;
    background-position-y: 10px;
}

.fr-nav-chzn:hover {
    cursor: pointer;
}

.fr-nav-vars {
    display: none;
}

.fr-nav-vars a {
    padding-left: 40px;
    display: block;
    border-bottom: 1px solid #bebdbd;
    border-left: 1px solid #bebdbd;
    border-right: 1px solid #bebdbd;
    height: 25px;
    line-height: 25px;
    color: #bebdbd;
}

.fr-nav-vars a:hover {
    background: #dedede;
    text-decoration: none;
}

.team-item {
    display: inline-block;
    vertical-align: top;
    width: 204px;
    margin-right: 16px;
    border: 1px solid #dfdfdf;
    padding: 10px;
}

.team-item-links {
    text-align: center;
}

.team-item-name {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #adaba8;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
}

.team-item-title {
    font-family: "Helvetica Neue";
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.team-item-desc {
    margin-bottom: 20px;
    font-family: "Helvetica Neue";
    font-size: 11px;
    min-height: 103px;
}

.about-clients {
    position: relative;
}

.about-clients .carousel-ctrl {
    position: absolute;
}

.about-clients-carousel {
    width: 640px;
    margin-left: 50px;
}

.opt-description > div {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    margin-right: 10px;
}

.opt-description > div:last-of-type {
    margin-right: 0;
}