@media (max-width: 1024px) {
    .header .menu-block {
        font-size: 10px;
    }
}
/*@media (max-width: 1024px) {*/
    /*.footer-menu {*/
        /*display: none;*/
    /*}*/
    /*.footer-menu .container {*/
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    /*}*/

    /*.news {*/
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    /*}*/

    /*.header .header-phone {*/
        /*text-align: center;*/
    /*}*/
    /*.categories-more {*/
        /*padding-right: 20px;*/
    /*}*/
    /*.container {*/
        /*width: auto;*/
    /*}*/
    /*.catalog-items {*/
        /*width: auto;*/
        /*margin-left: 190px;*/
    /*}*/
    /*.catalog-menu {*/
        /*margin-left: 0;*/
    /*}*/
    /*.catalog {*/
        /*background: url('/static/img/items-bg.png') 187px 0 repeat-y;*/
    /*}*/
    /*.item-big-pic img {*/
        /*width: 400px;*/
        /*height: 400px;*/
    /*}*/
    /*.item-thumbs {*/
        /*width: 100px;*/
        /*margin-left: 410px;*/
        /*min-height: 154px;*/
    /*}*/

    /*.item-thumbs img {*/
        /*width: 96px;*/
        /*height: 96px;*/
    /*}*/
    /*.footer-menu .action-title {*/
        /*font-size: 16px;*/
    /*}*/

    /*.footer-menu .col-xs-2,*/
    /*.footer-menu .col-xs-3 {*/
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    /*}*/
    /*.footer-our-projects a img {*/
        /*margin-left: 14px;*/
    /*}*/
    /*.contacts-info {*/
        /*font-size: 11px;*/
    /*}*/
    /*.item-cart {*/
        /*width: 275px;*/
    /*}*/
/*}*/


/*@media (max-width: 768px) {*/
    /*.row {*/
        /*margin-left: 0;*/
        /*margin-right: 0;*/
    /*}*/
    /*.container {*/
        /*overflow: hidden;*/
        /*margin-left: 0;*/
        /*margin-right: 0;*/
    /*}*/
    /*.actions-spec-item .good-item {*/
        /*margin-left: 78px;*/
    /*}*/
    /*.actions-spec-item .good-item:nth-child(-n+2) {*/
        /*display: none;*/
    /*}*/
    /*.header {*/
        /*height: 106px;*/
    /*}*/
    /*.header-logo {*/
        /*height: 100px;*/
        /*background-size: contain;*/
    /*}*/
    /*.header .header-phone span {*/
        /*font-size: 15px;*/
        /*padding: 10px;*/
        /*padding-left: 30px;*/
    /*}*/
    /*.news .news-item:last-of-type {*/
        /*display: none;*/
    /*}*/

    /*.footer-categories {*/
        /*margin-left: 20px;*/
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    /*}*/
    /*.categories-more {*/
        /*padding-right: 20px;*/
    /*}*/

    /*.footer-our-projects a img {*/
        /*margin-left: 11px;*/
        /*width: 50px;*/
    /*}*/
    /*.about-description, .opt-description {*/
        /*font-size: 12px;*/
    /*}*/
    /*.about-block {*/
        /*padding-left: 10px;*/
    /*}*/

    /*.footer-categories div.footer-categories-item:nth-last-child(2)*/
    /*{*/
        /*display: none;*/
    /*}*/
    /*.header .menu-block, .header .header-phone {*/
        /*line-height: 100px;*/
        /*height: 100px;*/
    /*}*/

    /*.header .header-phone {*/
        /*line-height: 1;*/
    /*}*/

    /*.footer-menu .action-title {*/
        /*font-size: 16px;*/
    /*}*/
    /*.contacts-info {*/
        /*font-size: 11px;*/
    /*}*/

    /*.footer-menu .container {*/
        /*padding-left: 25px;*/
        /*padding-right: 25px;*/
    /*}*/
    /*.catalog-items {*/
        /*width: auto;*/
        /*margin-left: 190px;*/
    /*}*/
    /*.catalog-menu {*/
        /*margin-left: 0;*/
    /*}*/

    /*.catalog {*/
        /*background: url('/static/img/items-bg.png') 187px 0 repeat-y;*/
    /*}*/
    /*.items-sort-page {*/
        /*padding-right: 20px;*/
    /*}*/

    /*.item-big-pic {*/
        /*margin-right: 5px;*/
    /*}*/

    /*.item-big-pic img {*/
        /*width: 195px;*/
        /*height: 195px;*/
    /*}*/
    /*.item-thumbs {*/
        /*width: 50px;*/
        /*margin-left: 204px;*/
        /*min-height: 154px;*/
    /*}*/

    /*.item-thumbs img {*/
        /*width: 45px;*/
        /*height: 45px;*/
    /*}*/
/*}*/

/*@media (max-width: 640px) {*/
    /*.container {*/
        /*width: auto;*/
    /*}*/
    /*.header .col-md-4 {*/
        /*width:100%;*/
    /*}*/
    /*.header {*/
        /*height: auto;*/
    /*}*/
    /*.header-logo {*/
        /*height: 75px;*/
        /*background-size: contain;*/
    /*}*/
    /*.header .header-phone span {*/
        /*font-size: 12px;*/
        /*padding: 10px;*/
        /*padding-left: 30px;*/
    /*}*/

    /*.footer-menu .col-xs-2,*/
    /*.footer-menu .col-xs-3,{*/
        /*width: 100%;*/
    /*}*/
    /*.actions-spec-item {*/
        /*width: 100%;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.menu {*/
        /*width: 65px;*/
        /*margin: 0 auto;*/
        /*padding-left: 0;*/
    /*}*/
    /*.header .container-fluid {*/
        /*padding-left: 0;*/
        /*clear: both;*/
    /*}*/
    /*.header .menu-block, .header .header-phone {*/
        /*line-height: 100px;*/
        /*height: 75px;*/
        /*padding-left: 0;*/
    /*}*/
    /*.header-logo {*/
        /*width: 150px;*/
        /*height: 100px;*/
        /*background-size: contain;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.header .header-phone{*/
        /*text-align: center;*/
        /*padding-right: 0;*/
    /*}*/
    /*.action-item {*/
        /*float: none;*/
        /*margin: 0 auto;*/
        /*margin-bottom: 24px;*/
        /*margin-top: 24px;*/
    /*}*/
    /*.good-item {*/
        /*float: none;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.actions-spec-item .good-item {*/
        /*margin: 0 auto;*/
    /*}*/
    /*.action-body {*/
        /*min-height: 1px;*/
    /*}*/
    /*.news .action-item {*/
        /*float: none;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.news .news-item {*/
        /*display: block;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.category-name {*/
        /*margin: -30px 30px auto;*/
        /*display: block;*/
    /*}*/
    /*.footer-categories-item div.category-image-wrapper {*/
        /*margin: 0 auto;*/
    /*}*/
    /*.footer-categories {*/
        /*margin: 0 auto;*/
    /*}*/
    /*.footer-categories-item {*/
        /*display: block;*/
    /*}*/
    /*.footer-menu .col-xs-2,*/
    /*.footer-menu .col-xs-3 {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin-bottom: 50px;*/
    /*}*/
    /*.contacts-info {*/
        /*font-size: 13px;*/
    /*}*/
    /*.breadcrumbs {*/
        /*opacity: 0;*/
    /*}*/
    /*.items-sort {*/
        /*display: none;*/
    /*}*/
    /*.pagination.pull-right {*/
        /*text-align: center;*/
        /*display: block;*/
        /*float: none !important;*/
    /*}*/

    /*.catalog {*/
        /*background: none;*/
    /*}*/
    /*.catalog-menu {*/
        /*display: block;*/
        /*float: none;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.catalog-items {*/
        /*margin: 0 auto;*/
    /*}*/
    /*.item-cart {*/
        /*float: none;*/
        /*margin-bottom: 50px;*/
    /*}*/

    /*.item-big-pic img {*/
        /*width: 300px;*/
        /*height: 300px;*/
    /*}*/
    /*.item-thumbs {*/
        /*width: auto;*/
        /*margin: 0;*/
    /*}*/
    /*.item-thumbs a img {*/
        /*margin-top: 10px;*/
        /*margin-right: 2px;*/
    /*}*/
    /*.addon-items .action-item, .addon-services .action-item {*/
        /*float: none;*/
    /*}*/
    /*.addon-services .good-item,*/
    /*.addon-items .good-item {*/
        /*margin: 0 auto;*/
    /*}*/
/*}*/
