body {
    text-align: center;
    background: url('../img/bg-terra.jpg');
    background-size: cover;
    padding-top: 160px;
    font-family: Arial;
}

.main {
    font-size: 54px;
    padding-bottom: 20px;
}

.date {
    font-size: 38px;
}

.FAQ {
    font-size: 28px;
}

.email {
    font-size: 27px;
}

.social-btns ul {
    margin: 0px;
}

.social-btns ul li {
    display: inline;
    padding: 3px;
}

.modal-block {
    margin-top: 20px;
}

.modal-block button {
    width: 230px;
}

