{% extends 'base.html' %}

{% block content %}
    <div class="container">
        Заказ #{{ InvId }} на сумму {{ OutSum }} руб. успешно оплачен.
        В ближайшее время с вами свяжутся наши менеджеры.
        <form method="post" action="{% url 'clear_cart' %}" id="clear-cart-id"></form>
    </div>
{% endblock %}

{% block categories %}{% endblock %}