{% extends 'admin:admin/change_form.html' %}

{% block object-tools %}
    <ul>
        {% for item in adminform.form.instance.cart.item_set.all %}
            <li><a href="{% url 'item-detail' slug=item.product.slug %}">{{ item.product.name }} {% if item.product_options.count %}({{ item.product_options.all.0.option }}){% endif %}</a> [{{ item.quantity }}]</li>
        {% endfor %}
    </ul>
    {{ block.super }}
{% endblock %}