{% load widget_tweaks %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terra Fiori. Цветы из эко-силикона, абсолютная имитация живых цветов</title>
    {% if 'iPhone' in request.META.HTTP_USER_AGENT %}
        <meta name="viewport" content="width=1190;" />
    {% endif %}
    {% if 'iPad' in request.META.HTTP_USER_AGENT %}
        <meta name="viewport" content="width=1200;" />
    {% endif %}
    {% if 'Android' in request.META.HTTP_USER_AGENT %}
        <meta name="viewport" content="width=1200;" />
    {% endif %}

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.formstyler.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.flipcountdown.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}source/jquery.fancybox.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/mobile.css" rel="stylesheet">
{#    <link href="{{ STATIC_URL }}js/widget/css/rcarousel.css" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}css/bjqs.css" rel="stylesheet">#}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}/img/favicon.png" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?113"></script>

    <script type="text/javascript">
        VK.init({apiId: 4380470, onlyWidgets: true});
    </script></head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25536599 = new Ya.Metrika({id:25536599,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25536599" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <div class="header container-fluid" {% if is_franchise %}style="height: 270px;"{% endif %}>
        <div class="row">
            <div class="col-md-4 col-xs-4 menu-block col-sm-4">
                <ul class="menu">
                    {% if not request.user.is_opt %}
                        <li>
                            {% if request.user.is_rent %}
                                <a href="{% url 'items' %}">аренда</a>
                            {% else %}
                                <a href="{% url 'registration_rent' %}">аренда</a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {% if not request.user.is_rent and not request.user.is_opt %}
                        <li>
                            <a href="{% url 'items' %}">розница</a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{% url 'franchise-view' %}">франчайзинг</a>
                    </li>

{#                    {% if not request.user.is_rent %}#}
{#                        <li>#}
{#                            {% if request.user.is_opt %}#}
{#                                <a href="{% url 'items' %}">оптом</a>#}
{#                            {% else %}#}
{#                                <a href="{% url 'registration_opt' %}">оптом</a>#}
{#                            {% endif %}#}
{#                        </li>#}
{#                    {% endif %}#}
                </ul>
                <form method="GET" class="search-form" action="{% url 'search-view' %}">
                    <img src="{{ STATIC_URL }}img/search-icon.png" />
                    <input type="search" class="form-control" name="q" />
                </form>
            </div>
            <div class="col-md-4 col-xs-4 ">
                <a href="{% url 'main' %}">
                    <div class="header-logo"></div>
                </a>
            </div>
            <div class="col-md-4 header-phone col-xs-4 col-sm-4">
                <div>
                    <span class="phone">{{ phone }}</span><br/>
                    <span class="phone-desc">Звонки по РФ бесплатные</span>
{#                    <button class="order-call" data-toggle="modal" data-target="#order-call-id" onclick="parent.location='#callbackhunter'">Заказать звонок</button>#}
                    <button class="order-call" onclick="parent.location='#callbackhunter'">Заказать звонок</button>
                </div>
                <div class="login-top">
                    {% if not request.user.is_authenticated %}
                        <img src="{{ STATIC_URL }}img/login-icon.png" />
                        <a href="#" data-toggle="modal" data-target="#login-modal-id">Вход в личный кабинет</a>
                    {% else %}
                        <a href="{% url 'profile' %}">{{ request.user.email }}
                            {% if request.user.is_rent %}(аренда)
                            {% elif request.user.is_opt %}(опт)
                            {% else %}(розница)
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% if is_franchise %}
        <div class="fr-nav">
            <div class="fr-nav-chzn">К началу</div>
            <div class="fr-nav-vars">
                <a href="#top">К началу</a>
                <a href="#products">Наши цветы</a>
                <a href="#about">О нас</a>
                <a href="#clients">Наши клиенты</a>
                <a href="#price">Стоимость</a>
            </div>
        </div>
    {% endif %}
    </div>

{% block content %}{% endblock %}
    {% block categories %}
    <div class="actions-border"></div>
    <div class="categories container footer-categories" >
        {% for cat in footer_categories %}
        <div class="footer-categories-item {% if forloop.last %}last{% endif %}">
            <a href="{% url 'category-items' slug=cat.slug %}">
                <div class="category-image-wrapper">
                    <img src="{{ MEDIA_URL }}{{ cat.image }}" oncontextmenu="return false" ondragstart="return false" />
                </div>
                <div class="category-name">
                    <div>
                        {{ cat.name }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="categories-more">
            <a href="{% url 'items' %}">Смотреть все рубрики...</a>
        </div>
    </div>
    {% endblock %}
    <div class="categories-border"></div>
    <div class="footer-menu">
        <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-2" id="contacts">
                <div class="action-title">
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>
                <div class="contacts-info">
                    Санкт-Петербург, <br />
                    Б. Конюшенная, д. 13<br />
                    тел. +7 812 315 33 04<br />
                    e-mail: info@terrafiori.com
                </div>
            </div>
            <div class="col-xs-2 about-block">
                <div class="action-title">
                    <a href="{% url 'about' %}">О нас</a>
                </div>
                <div class="about-description">
                    Узнайте больше о нашем коллективе и о технологиях изготовления цветов
                </div>
            </div>
            <div class="col-xs-3 col-sm-3">
                <div class="action-title">
                    <a href="{% url 'delivery-payway' %}">Доставка и оплата</a>
                </div>
                <div class="footer-our-projects">
                    <a href="#">
                        <img src="{{ STATIC_URL }}img/delivery-pic-0.png" />
                    </a>
                    <a href="#">
                        <img src="{{ STATIC_URL }}img/delivery-pic-1.png" />
                    </a>
                    <a href="#">
                        <img src="{{ STATIC_URL }}img/delivery-pic-2.png" />
                    </a>
                    <p>Узнайте больше о доставке<br />
                    и оплате</p>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="action-title">
                    <a href="{% url 'portfolio' %}">Портфолио</a>
                </div>
                <div class="opt-description">
                    {% for p in portfolio %}
                        <div>
                            <a href="{% url 'portfolio' %}">
                                {% thumbnail p.photo '70x70' crop='center' as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3 col-xs-3 login-form">
                <div class="action-title">
                    <a href="{% url 'profile' %}" {% if not request.user.is_authenticated %}onclick="return false;"{% endif %}>Вход в личный кабинет</a>
                </div>
                {% if not request.user.is_authenticated %}
                    <form method="POST" action="{% url 'auth_login' %}" id="login-bottom-form-id">
                        {% if item_detail %}
                            <input type="hidden" name="next" value="{{ request.path }}" />
                        {% else %}
                            <input type="hidden" name="next" value="{% url 'items' %}" />
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="login-email-id" name="email" type="text" class="form-control" placeholder="Your e-mail" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                        <button class="btn btn-default btn-dark">Вход</button>
                    </form>
                {% else %}
                    <div class="profile-links">
                        <a href="{% url 'profile' %}">{{ request.user.email }}
                            {% if request.user.is_rent %}(аренда)
                            {% elif request.user.is_opt %}(опт)
                            {% else %}(розница)
                            {% endif %}
                        </a>
                    </div>
                    <div  class="profile-links">
                        <a href="{% url 'auth_logout' %}">Выход</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="social-btns">
            <div>
                <a href="{{ vk_link }}">
                    <img src="{{ STATIC_URL }}img/vk-icon.png" />
                </a><a href="{{ instagramm_link }}">
                    <img src="{{ STATIC_URL }}img/insta-icon.png" />
                </a><a href="{{ mail_link }}">
                    <img src="{{ STATIC_URL }}img/email-icon.png" />
                </a><a href="{{ youtube_link }}">
                    <img src="{{ STATIC_URL }}img/youtube-icon.png" />
                </a>
            </div>
        </div>
        </div>
    </div>
<div class="footer">
    @ 2014, Terra Fiori. Все права защищены. {{ youtube_link }}
</div>

    <div class="modal fade" id="feedbackModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Мы настраиваем наш сайт<br />
                        Оставьте свое сообщение в форме обратной связи и мы  свяжемся с вами!</p>
                    <form method="post" id="feedbackForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ваше имя</label>
                                    <input class="form-control" name="name" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ваш e-mail</label>
                                    <input class="form-control" name="email" />
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ваше сообщение</label>
                            <textarea rows=6 class="form-control" name="text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary modal-send">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade success-modal" id="fb-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body">
                    <p>
                        Ваше сообщение отправлено
                    </p>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade new-modal" id="order-call-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Оставить заявку
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body">
                    <div class="order-call-body">
                        <form method="post">{% csrf_token %}
                            <div class="form-group">
                                {{ ordercall_form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ ordercall_form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ ordercall_form.email|add_class:"form-control"|attr:"placeholder:Ваш e-mail"|attr:"required:required" }}
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-dark btn-default">Оставить заявку</button>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="order-call-info">

                        </div>
                    </div>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade new-modal" id="login-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Вход в личный кабинет
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body">
                    <div class="order-call-body">
                        <form method="post">{% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Ваш e-mail" required="required" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Ваш пароль" required="required" class="form-control" />
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-dark btn-default">Вход</button>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="order-call-info login-modal-info">

                        </div>
                    </div>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade new-modal" id="login-alert-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Вход в личный кабинет
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    Вы ввели неверный e-mail или пароль, попробуйте еще раз
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade change-price-type-modal" id="change-price-type-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body">
                    <div class="row text-center">
                        <div class="">
                            <div class="reg-change-modal-desc change-price-type-vars" id="change-price-type-modal-desc-rent">
{#                                Информация о ценах на аренду доступна,<br/> только зарегистрированным пользователям.#}
                                Для получения доступа к прайсу позвоните по телефону +7 (812) 315-33-04
                            </div>
                            <div class="reg-change-modal-desc change-price-type-vars" id="change-price-type-modal-desc-opt">
{#                                Информация о ценах на опт доступна,<br/> только зарегистрированным пользователям.#}
                                Для получения доступа к прайсу позвоните по телефону +7 (812) 315-33-04
                            </div>
{#                            <div class="">#}
{#                                <a class="btn btn-dark change-price-type-vars" id="change-price-type-modal-link-rent" href="{% url 'registration_rent' %}">Регистрация</a>#}
{#                                <a class="btn btn-dark change-price-type-vars" id="change-price-type-modal-link-opt" href="{% url 'registration_opt' %}">Регистрация</a>#}
{#                            </div>#}
                        </div>
{#                        <div class="col-xs-6 login-form">#}
{#                            <div class="action-title">#}
{#                                <a href="#"> Вход в личный кабинет</a>#}
{#                            </div>#}
{#                            <form method="POST" action="{% url 'auth_login' %}" id="login-change-price-type-form-id">#}
{#                                <input type="hidden" name="next" value="{{ request.path }}" />#}
{#                                {% csrf_token %}#}
{#                                <div class="form-group">#}
{#                                    <input id="login-email-id" name="email" type="text" class="form-control" placeholder="Your e-mail" />#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <input type="password" class="form-control" name="password" placeholder="Password" />#}
{#                                </div>#}
{#                                <button class="btn btn-default btn-dark">Вход</button>#}
{#                            </form>#}
{#                        </div>#}
                    </div>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.formstyler.js"></script>
<script src="{{ STATIC_URL }}js/jquery.elevatezoom.js"></script>
<script src="{{ STATIC_URL }}js/trunk8.js"></script>
<script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cycle2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cycle2.carousel.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flipcountdown.js"></script>
<script src="{{ STATIC_URL }}source/jquery.fancybox.js"></script>
{#<script src="{{ STATIC_URL }}js/widget/lib/jquery.ui.core.js"></script>#}
{#<script src="{{ STATIC_URL }}js/widget/lib/jquery.ui.widget.js"></script>#}
{#<script src="{{ STATIC_URL }}js/widget/lib/jquery.ui.rcarousel.js"></script>#}
{#<script src="{{ STATIC_URL }}js/bjqs-1.3.min.js"></script>#}
<script src="{{ STATIC_URL }}js/common.js"></script>
{% block inner_js %}{% endblock %}
<link rel="stylesheet" href="//cdn.callbackhunter.com/widget/tracker.css">
<script type="text/javascript" src="//cdn.callbackhunter.com/widget/tracker.js" charset="UTF-8"></script>
<script type="text/javascript">var hunter_code="57330c8f83b934cdb44babcad3c6f04b";</script>
</body>
</html>