{% extends 'base.html' %}

{% load thumbnail %}
{% load widget_tweaks %}
{% load price_type_tags %}

{% block content %}
    <input id="reloadValue" type="hidden" name="reloadValue" value="" />

    <div class="categories-border"></div>
    <div class="cart container">
        <div class="catalog-items-top">
            <div class="basket pull-right">
                <div class="basket-icon"></div>
                <a href="{% url 'cart' %}">
                    <div class="basket-title">Моя Корзина </div>
                </a>
                <div class="number-in-basket basket-top">{{ cart.count|default:"Пуста" }}</div>
            </div>
            <div class="breadcrumbs">
                <ul class="">
                    {% for b in breadcrumbs %}
                        <li>
                            {% if forloop.last %}
                                <span>{{ b.0 }}</span>
                            {% else %}
                                <a href="{{ b.1 }}">{{ b.0 }}</a>
                            {% endif %}
                        </li>
                        {% if not forloop.last %}
                            <li>
                                <span> > </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if cart.cart.item_set.count %}
        <div class="cart-items">
            <form autocomplete="off" method="POST" id="cart-form-id" action="{% url 'order-add' %}">
            {% csrf_token %}
                <input name="cart" value="{{ cart.cart.pk }}" type="hidden" />
                <table class="table">
                <thead>
                    <tr>
                        <td style="width: 175px" class="bg-dark">
                            <div class="action-title">ПРОДУКТ</div>
                        </td>
                        <td style="width: 50%">
                            <div class="action-title">ОПИСАНИЕ</div>
                        </td>
                        <td class="bg-dark">
                            <div class="action-title">
                                ЦЕНА
                            </div>
                        </td>
                        <td>
                            <div class="action-title">
                                Кол-во
                            </div>
                        </td>
                        <td class="bg-dark">
                            <div class="action-title">
                                СУММА
                            </div>
                        </td>
                        <td>
                            <div class="action-title">
                                Удалить
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.get_items %}
                    <tr class="cart-item">
                        <td class="cart-item-img bg-dark">
                            {% thumbnail item.product.images.all.0.image "100x100" crop="center" as im %}
                                <img src="{{ im.url }}" oncontextmenu="return false" ondragstart="return false">
                            {% endthumbnail %}
                        </td>
                        <td>
                            <h1>{{ item.product.name }} {% if item.product_options.count %}({{ item.product_options.all.0.option }}){% endif %}</h1>
                            <div class="art">Артикул: {{ item.product.art }}</div>
                            {% if item.product.desc %}
                                <div class="desc">
                                    <div class="desc-title">Описание</div>
                                    <div class="desc-text">
                                        {{ item.product.desc|linebreaksbr }}
                                    </div>
                                    <div class="cart-item-more">
                                        <a target="_blank" href="{% url 'item-detail' slug=item.product.slug %}">Подробнее...</a>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td class="bg-dark cart-money">
                            {% get_price item.product request.user %} руб.
                        </td>
                        <td>
                            <div class="cart-count number-in-basket">{{ item.quantity }}</div>
                        </td>
                        <td class="bg-dark cart-money">
                            <div class="cart-summ">{% cart_total_price item request.user %} руб.</div>
                        </td>
                        <td>
                            <div class="cart-del">
                                <a href="#" rel="{{ item.pk }}"></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            {{ order_form.first_name|add_class:"form-control order-req"|attr:"placeholder:Имя" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ order_form.last_name|add_class:"form-control order-req"|attr:"placeholder:Фамилия" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ order_form.middle_name|add_class:"form-control order-req"|attr:"placeholder:Отчество" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="phone-mail-row">
                            {{ order_form.phone|add_class:"form-control order-req"|attr:"placeholder:Телефон" }}
                            {% if request.user.is_authenticated %}
                                <span class="logged-user-email">{{ request.user.email }}</span>
                                {{ order_form.email|add_class:"hidden" }}
                            {% else %}
                                {{ order_form.email|add_class:"form-control order-req"|attr:"placeholder:E-mail" }}
                            {% endif %}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    {% if request.user.is_authenticated and not request.user.is_rozn %}
                    <tr>
                        <td colspan="2">
                            {{ order_form.inn|add_class:"form-control order-req"|attr:"placeholder:ИНН" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2" class="delivery-title">АДРЕС ДОСТАВКИ</td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="delivery-city">
                            <div>
                                {% if request.user.is_rent %}
                                    Санкт-Петербург и ЛО
                                {% else %}
                                    {{ order_form.city|add_class:"form-control"|attr:"placeholder:Адрес доставки" }}
                                {% endif %}
                            </div>
                            {% if not request.user.is_rent %}
                            <div class="delivery-city-desc paid-delivery-block cart-city">
                                Доставка до двери: <span class="cart-money"></span> (<span class="cart-time"></span>)
                            </div>
                            <div class="delivery-city-desc free-delivery-block cart-city">
                                Самовывоз из магазина, по адресу Б. Конюшенная, 13
                                с 10:00-19:00 без выходных
                            </div>
                            {% endif %}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark cart-city ">
                            <div class="delivery-money">
                                <span class="cart-money"></span> <span style="display: none;" class="currency">руб.</span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ order_form.idx|add_class:"form-control order-req"|attr:"placeholder:Индекс" }}
                            {{ order_form.pay_type|add_class:"hidden" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ order_form.address|add_class:"form-control order-req"|attr:"placeholder:Улица, дом, квартира" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ order_form.comment|add_class:"form-control"|attr:"placeholder:Комментарий к доставке" }}
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input class="form-control" placeholder="Ввести промо-код" id="promocode">
                            {{ order_form.promo|add_class:"hidden" }}
                            <button class="btn btn-dark btn-promo-check">Проверить</button>
                        </td>
                        <td class="bg-dark"></td>
                        <td></td>
                        <td class="bg-dark cart-promo" ><span class="cart-money "></span> <span style="display: none" class="currency">руб.</span></td>
                        <td></td>
                    </tr>
                    <tr class="bottom-border">
                        <td></td>
                        <td></td>
                        <td class="bg-dark summary-title">ИТОГО:</td>
                        <td></td>
                        <td class="bg-dark cart-summary"><span class="cart-money ">{% cart_summary cart.cart request.user %}</span> <span class="currency">руб.</span>
                            <span class="origin-summary hidden">{% cart_summary cart.cart request.user %}</span>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </form>
            <div class="cart-pay">
                {% if cart.count %}
                    {% if request.user.is_rent %}
                        <div class="rent-min-price">Минимальный заказ: 4 500 рублей</div>
                    {% elif request.user.is_opt %}
                        <div class="rent-min-price">Минимальный заказ: 50 000 рублей</div>
                    {% else %}
                        <div class="cart-pay-way">
                            <div class="cart-pay-way-title">Способы оплаты</div>
                            <div class="cart-pay-way-vars">
                                <img src="{{ STATIC_URL }}img/payway.jpg" />
                            </div>
                        </div>
                    {% endif %}
                    <div id="rent-min-price-warning-id" class="alert alert-danger hidden">Минимальный заказ должен быть на сумму не менее 4 500 рублей</div>
                    <div id="opt-min-price-warning-id" class="alert alert-danger hidden">Минимальный заказ должен быть на сумму не менее 50 000 рублей</div>
                        <button class="btn btn-dark btn-pay" value="{% if request.user.is_rent %}rent{% elif request.user.is_opt %}opt{% endif %}">
                        {% if request.user.is_rent %}
                            Оформить заказ
                        {% else %}
                            Перейти к платежной системе
                        {% endif %}
                        </button>
                    <button class="btn btn-dark hidden" data-toggle="modal" data-target="#order-modal">Modal</button>
                {% endif %}
        </div>
        </div>
    {% else %}
            <div class="empty-cart">
                Ваша корзина пуста, пополните корзину в нашем <a href="{% url 'items' %}">каталоге продукции.</a>
            </div>
    {% endif %}
    </div>

    <div class="modal fade bs-example-modal-lg" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px; margin: 30px auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Заказ оформлен</h4>
                </div>
                <div class="modal-body">
                    {% if request.user.is_opt %}
                        Ваш заказ оформлен, счет на оплату будет отправлен на указанный вами электронный адрес
                    {% else %}
                        Ваш заказ оформлен. Подробности отправлены на адрес:
                    {% endif %}
                     <span class="order-email"></span>
                    <div >
                        <button data-dismiss="modal" class="btn btn-dark">
                            Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block categories %}{% endblock %}