{% extends 'base.html' %}

{% load price_type_tags %}

{% block content %}
    <div class="categories-border"></div>
    <div class="container catalog ">
    <div class="catalog-menu">
        <div class="action-title">
            <span>Разделы</span>
        </div>
        <div class="spec-items">
            <ul>
                {% for spec in specs %}
                <li {% if spec_active == spec.slug %}class="active"{% endif %}>
                    <a href="{% url 'spec-items' slug=spec.slug %}">{{ spec.name }}
                        <span class="hover-arrow"></span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="action-title">
            <span>Рубрики</span>
        </div>
        <div class="spec-items">
            <ul>
                {% for category in categories %}
                    {% if category.items|visible_by_user:request.user %}
                        <li {% if category_active.slug == category.slug %}class="active"{% endif %}>
                            <a href="{% url 'category-items' slug=category.slug %}">{{ category.name }}
                                <span class="hover-arrow"></span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="action-title">
            <span>Сортировать по цене</span>
        </div>
        <div class="spec-items price-filter">
            <form method="POST" id="price-filter-form" {% if not items %}action="{% url 'items' %}"{% endif %}>
                {% csrf_token %}
                <input type="hidden" name="price_filter" value="100000-0" />
            <ul>
                <li>
                    <input id="price-filter-1" type="checkbox" name="price_filter" value="500-2000" {% if "500-2000" in price_filters %}
                        checked="checked"
                    {% endif %} />
                    <label for="price-filter-1">
                        500-2000
                        <span class="hover-arrow"></span>
                    </label>
                </li>
                <li>
                    <input id="price-filter-2" type="checkbox" name="price_filter" value="2000-4000" {% if "2000-4000" in price_filters %}
                           checked="checked"
                    {% endif %} />
                    <label for="price-filter-2">
                        2000-4000
                        <span class="hover-arrow"></span>
                    </label>
                </li>
                <li>
                    <input id="price-filter-3" type="checkbox" name="price_filter" value="4000-8000" {% if "4000-8000" in price_filters %}
                           checked="checked"
                    {% endif %} />
                    <label for="price-filter-3">
                        4000-8000
                        <span class="hover-arrow"></span>
                    </label>
                </li>
                <li>
                    <input id="price-filter-4" type="checkbox" name="price_filter" value="8000-15000" {% if "8000-15000" in price_filters %}
                           checked="checked"
                    {% endif %} />
                    <label for="price-filter-4">
                        8000-15000
                        <span class="hover-arrow"></span>
                    </label>
                </li>
            </ul>
            </form>
        </div>
    </div>
    <div class="catalog-items {% block catalog_bg %}{% endblock %}" {% block catalog_style %}{% endblock %}>
    <div class="catalog-items-top">
        <div class="basket pull-right">
            <div class="basket-icon"></div>
            <a href="{% url 'cart' %}">
                <div>Моя Корзина </div>
            </a>
            <div class="number-in-basket basket-top"> {{ cart.count|default:"Пуста" }}</div>
        </div>
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                <li>
                    {% if forloop.last %}
                        <span>{{ b.0 }}</span>
                    {% else %}
                        <a href="{{ b.1 }}">{{ b.0 }}</a>
                    {% endif %}
                </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        {% block catalog_content %}{% endblock %}
    </div>

    </div>
{% endblock %}

{% block categories %}{% endblock %}