{% extends 'base.html' %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block content %}
    <div class="container registration">
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                    <li>
                        {% if forloop.last %}
                            <span>{{ b.0 }}</span>
                        {% else %}
                            <a href="{{ b.1 }}">{{ b.0 }}</a>
                        {% endif %}
                    </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="reg-body">
            <div class="row">
                <div class="col-xs-6">
                    {% thumbnail images.0.image '458x393' crop='center' as im %}
                        <img class="first" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    <div class="action-title">КОНТАКТНАЯ ИНФОРМАЦИЯ</div>
                    <div>
                        {{ contact_info.text|linebreaksbr|safe }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {% thumbnail images.1.image '458x393' crop='center' as im %}
                        <img class="first" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    <div class="action-title reg-form-title">НАПИШИТЕ НАМ</div>
                   <div>
                       <form method="POST"
                             action="{% url 'feedback-ajax' %}"
                             id="fb-form-id">
                           {% csrf_token %}
                           <div class="form-group">
                               {{ form.name|add_class:"form-control"|attr:"placeholder:Имя"|attr:"required:required" }}
                           </div>
                           <div class="form-group">
                               {{ form.email|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"required:required" }}
                           </div>
                           <div class="form-group">
                               {{ form.text|add_class:"form-control"|attr:"placeholder:Текст"|attr:"required:required"|attr:"rows:5" }}
                           </div>
                           <hr />
                           <button class="btn btn-dark">Отправить</button>
                       </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block categories %}{% endblock %}