{% extends 'base.html' %}

{% load thumbnail %}
{% load widget_tweaks %}

{% block content %}
    <div class="container franchise">
    <a name="top"></a>
        <div class="video-wrapper">
        <video autoplay="autoplay" loop="loop" tabindex="0" width="960" height="400" id="fr-video" muted="muted" poster="{{ STATIC_URL }}img/previue.jpg">
          <source id="fr-video-mp4" src="{{ STATIC_URL }}video/terrafiori.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
          <source id="fr-video-webm" src="{{ STATIC_URL }}video/terrafiori.webm" type='video/webm; codecs="vp8, vorbis"' />
          <source src="{{ STATIC_URL }}video/terrafiori.ogv" type='video/ogg; codecs="theora, vorbis"' />
          Video tag not supported. Download the video <a href="{{ STATIC_URL }}video/terrafiori.mp4">here</a>.
         </video>
     <form method="POST" class="fr-form">{% csrf_token %}
                <div class="franchise-form-title">
                    Оставь заявку по франшизе и получи <b>ipad</b> в подарок
                </div>
                <div class="form-group">
                    {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                </div>
                <div class="form-group">
                    {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                </div>
                <div class="form-group">
                    {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                </div>

                <div class="form-group">
                    <button class="btn btn-dark btn-block">Оставить заявку</button>
                </div>
            </form>
            <div class="fr-buble" id="fr-buble-1">
                <div>4 месяца<br/>окупаемости</div>
            </div>
            <div class="fr-buble" id="fr-buble-2">
                <div>ОТСУТСТВИЕ<br/>КОНКУРЕНТОВ</div>
            </div>
            <div class="fr-buble" id="fr-buble-3">
                <div>
                    минимум инвести-<br/>ций на открытие
                </div>
            </div>
        </div>
        <div>
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">У ВАС ВСЕГДА БУДЕТ МНОГО КЛИЕНТОВ!</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body">
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-beauty.png" />
                    <div>уникальный продукт, продающий себя сам</div>
                </div>
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-flower.png" />
                    <div>по виду, цвету и тактильным ощущениям цветы не отличаются от живых</div>
                </div>
                <div class="fr-tr" style="margin-right: 0">
                    <img src="{{ STATIC_URL }}img/fr-sale.png" />
                    <div>мы научим вас эффективному ведению бизнеса</div>
                </div>
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-unique.png" />
                    <div>уникальная технология производства, не имеющая аналогов в мире</div>
                </div>
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-graph.png" />
                    <div>высокая маржинальность</div>
                </div>
                <div class="fr-tr" style="margin-right: 0">
                    <img src="{{ STATIC_URL }}img/fr-conc.png" />
                    <div>отсутствие конкуренции в регионах</div>
                </div>
            </div>
{#            <div class="fr-block-bottom">#}
{#                <div class="timer">#}
{#                    <div id="countdown"></div>#}
{#                    <span style="display: none" id="timer-init-id">{{ fr_timer.date }}</span>#}
{#                    <div class="timer-desc">#}
{#                        <span style="left: 380px;">ДНИ</span>#}
{#                        <span style="left: 436px;">ЧАСЫ</span>#}
{#                        <span style="left: 485px;">МИНУТЫ</span>#}
{#                        <span style="left: 542px;">СЕКУНДЫ</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="fr-block-bottom-border"></div>#}
{#                <div class="fr-block-bottom-title">Оставьте заявку сейчас и получите партию цветов на 50 000 руб в подарок</div>#}
{#                <div class="fr-block-bottom-border"></div>#}
{#                <div class="fr-bottom-form">#}
{#                    <form method="POST" class="fr-form">{% csrf_token %}#}
{#                        <div class="form-group">#}
{#                            {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <button class="btn btn-dark">Получить подарок</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div>
            <a name="products"></a>
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">НАШИ ЦВЕТЫ ПРОДАЮТ СЕБЯ САМИ!</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body">
                <a href="#" class="carousel-ctrl fr-goods-left">
                    <img src="{{ STATIC_URL }}img/fr-left.png" />
                </a>
                <a href="#" class="carousel-ctrl fr-goods-right">
                    <img src="{{ STATIC_URL }}img/fr-right.png" />
                </a>
                <div class="fr-goods">
                {% for item in fr_goods %}
                    <div class="good-item">
                        <a href="{{ item.image.url }}" class="fancybox">
                            <div class="good-item-preview-border">
                                {% thumbnail item.image '150x150' crop='center' as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false">
                                {% endthumbnail %}
                            </div>
                        </a>
                        <div class="good-item-name">
                            {{ item.name }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="fr-you-can">
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">открыв бизнес с нами, вы сможете:</div>
                <div class="fr-border"></div>
                <div class="fr-block-body">
                    <div class="fr-tr">
                        <img src="{{ STATIC_URL }}img/fr-marga.png" />
                        <div>Начать высокомаржинальный и прибыльный бизнес с минимальными вложениями</div>
                    </div>
                    <div class="fr-tr">
                        <img src="{{ STATIC_URL }}img/fr-conc-reg.png" />
                        <div>начать бизнес<br/>без конкурентов <br/>в вашем регионе<br/></div>
                    </div>
                    <div class="fr-tr">
                        <img src="{{ STATIC_URL }}img/fr-numbers.png" />
                        <div>получить пошаговую<br/>инструкцию по открытию<br/></div>
                    </div>
                    <div class="fr-tr" style="margin-right: 0">
                        <img src="{{ STATIC_URL }}img/fr-garant.png" />
                        <div>гарантированно<br/>зарабатывать от 200 000 руб. <br/>в месяц</div>
                    </div>

                </div>
                <div class="fr-block-bottom">
                    <div class="fr-bottom-form">
                        <form method="POST" class="fr-form">{% csrf_token %}
                            <div class="form-group">
                                {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                            </div>
                            <div class="form-group" style="margin-right: 0">
                                <button class="btn btn-dark">Оставить заявку</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-about">
            <a name="about"></a>
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">НЕМНОГО О НАС:</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body" style="margin-left: 10px;">
                <img src="{{ STATIC_URL }}img/fr-about.jpg" />
                <div class="fr-buble" id="fr-buble-4">
                    <div>эксклюзивный продукт</div>
                </div>
                <div class="fr-buble" id="fr-buble-5">
                    <div>более 100 крупных клиентов</div>
                </div>
                <div class="fr-buble" id="fr-buble-6">
                    <div>более 100 видов цветов</div>
                </div>
                <div class="fr-buble" id="fr-buble-7">
                    <div>удобная система ведения бизнеса</div>
                </div>
                <div class="fr-buble" id="fr-buble-8">
                    <div>экологичность производства</div>
                </div>
            </div>
        </div>
        <div class="fr-clients-wrapper">
            <a name="clients"></a>
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">НАШИ КЛИЕНТЫ:</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body">
                <a href="#" class="carousel-ctrl fr-goods-left">
                    <img src="{{ STATIC_URL }}img/fr-left.png" />
                </a>
                <a href="#" class="carousel-ctrl fr-goods-right">
                    <img src="{{ STATIC_URL }}img/fr-right.png" />
                </a>
                <div class="fr-clients">
                    {% for cl in fr_clients %}
                        <a href="javascript: return false;">
                            <img src="{{ cl.image.url }}" />
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="fr-works-block">
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">НАШИ работы:</div>
                <div class="fr-border"></div>
                <div class="fr-block-body">
                    <a href="#" class="carousel-ctrl fr-goods-left">
                        <img src="{{ STATIC_URL }}img/fr-left.png" />
                    </a>
                    <a href="#" class="carousel-ctrl fr-goods-right">
                        <img src="{{ STATIC_URL }}img/fr-right.png" />
                    </a>
                    <div class="fr-works">
                        {% for w in fr_works %}
                            <div class="fr-work-block">
                                <img src="{{ w.image.url }}" />
                                <div class="fr-work-name">{{ w.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="fr-block-bottom">
                    <div class="fr-bottom-form">
                        <form method="POST" class="fr-form">{% csrf_token %}
                            <div class="form-group">
                                {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                            </div>
                            <div class="form-group" style="margin-right: 0">
                                <button class="btn btn-dark">Оставить заявку</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-reason">
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">Вы хотите стать нашим партнером, и приобретение франшизы позволит вам:</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="reason-title text-center">начать бизнес без соответствующего опыта</div>
                        <div class="fr-reason-img-wrapper">
                            <img src="{{ STATIC_URL }}img/fr-reason.png" />
                        </div>
                        <ul>
                            <li>ВЫ НЕ ЗНАЕТЕ, С ЧЕГО И КАК НАЧАТЬ</li>
                            <li>ВЫ ХОТИТЕ ИЗБЕЖАТЬ ЛИШНИХ ОШИБОК И СНИЗИТЬ РИСКИ,  ДЕЙСТВУЯ ПО ПОШАГОВОЙ ИНСТРУКЦИИ </li>
                            <li>Вам бы хотелось в нужный момент получить поддержкуи помощь опытного наставника</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <div class="reason-title text-center">развиваться дальше, если у вас есть предпринимательский опыт</div>
                        <div class="fr-reason-img-wrapper">
                            <img src="{{ STATIC_URL }}img/fr-reason.png" />
                        </div>
                        <ul>
                            <li>ВЫ ХОТИТЕ РаСТИ И РАЗВИВАТЬСЯ КАК ПРЕДПРИНИМАТЕЛЬ В НОВОЙ ПЕРСПЕКТИВНОЙ СФЕРЕ БИЗНЕСА </li>
                            <li>ВЫ ПОНИМАЕТЕ, ЧТО МОЖЕТЕ существенно СЭКОНОМИТЬ время, ВОСПОЛЬЗОВАВШИСЬ ПРОВЕРЕННОЙ ТЕХНОЛОГИЕЙ ЗАРАБАТЫВАНИЯ ДЕНЕГ</li>
                            <li>Вы не хотите совершать ошибки при старте нового проекта</li>
                        </ul>
                    </div>
                </div>
                <div class="fr-reason-ans">
                    <div class="fr-border"></div>
                    <div class="fr-ans">РЕШЕнИЕ данных ВОПРОСОВ - ЭТО ФРАНЧАЙЗИНГ!</div>
                    <div class="fr-ans">НАЧНИте БИЗНЕС С СИЛЬНЫМ ПАРТНЕРОМ!</div>
                </div>
            </div>
        </div>
        <div class="fr-guide">
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">Пошаговая инструкция по работе с нами:</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body">
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-guide-1.png" />
                    <div>Вы оставляете заявку<br/>или <br/>связываетесь с нами</div>
                </div>
                <div class="fr-tr-sep">
                    <img src="{{ STATIC_URL }}img/fr-guide-down.png" />
                </div>
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-guide-2.png" />
                    <div>Наш менеджер свяжется с ВамИ</div>
                </div>
                <div class="fr-tr-sep">
                    <img src="{{ STATIC_URL }}img/fr-guide-up.png" />
                </div>
                <div class="fr-tr" style="margin-right: 0">
                    <img src="{{ STATIC_URL }}img/fr-guide-3.png" />
                    <div>ВЫ ЗАПОЛНЯЕТЕ АНКЕТУ КЛИЕНТА, ДАЛЕЕ МЫ ЗАКЛЮЧАЕМ С ВАМИ ДОГОВОР.</div>
                </div>
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-guide-4.png" />
                    <div>НАЧИНАЕТСЯ ПОДБОР ПОМЕЩЕНИЯ ДЛЯ ВАШЕГО МАГАЗИНА</div>
                </div>
                <div class="fr-tr-sep">
                    <img src="{{ STATIC_URL }}img/fr-guide-down.png" />
                </div>
                <div class="fr-tr">
                    <img src="{{ STATIC_URL }}img/fr-guide-5.png" width="235" />
                    <div>ОСУЩЕСТВЛЯЕТСЯ ПОДГОТОВКА К ОТКРЫТИЮ И ОБУЧЕНИЕ (ПЕРЕДАЕМ ВАМ  ВСЕ АЛГОРИТМЫ ВЕДЕНИЯ БИЗНЕСА).</div>
                </div>
                <div class="fr-tr-sep">
                    <img src="{{ STATIC_URL }}img/fr-guide-up.png" />
                </div>
                <div class="fr-tr" style="margin-right: 0">
                    <img src="{{ STATIC_URL }}img/fr-guide-6.png" />
                    <div>ВЫ ПОЛУЧАЕТЕ ПЕРВУЮ ПАРТИЮ ТОВАРА. ПРОИСХОДИТ ЗАПУСК КОМПАНИИ И ПРОДАЖ</div>
                </div>
            </div>
        </div>
        <div class="fr-packets">
            <a name="price"></a>
            <div class="fr-block-title">
                <div class="fr-border"></div>
                <div class="fr-block-title-text">ПРЕДЛОЖЕНИЯ ПО БЫСТРОМУ И УСПЕШНОМУ СОЗДАНИЮ БИЗНЕСА:</div>
                <div class="fr-border"></div>
            </div>
            <div class="fr-block-body">
                <div class="fr-packets-wrapper">
                    <div class="fr-packet">
                        <img src="{{ STATIC_URL }}img/fr-packet.png" />
                        <div class="fr-packet-pin" id="fr-packet-pin-1">
                            <div>
                                БАЗОВЫЙ ПАКЕТ<br/>190 000 РУБЛЕЙ
                            </div>
                            <a href="#" data-toggle="modal" data-target="#fr-packet-modal-1-id">Подробнее</a>
                        </div>
                    </div>
                    <div class="fr-packet">
                        <img src="{{ STATIC_URL }}img/fr-packet.png" />
                        <div class="fr-packet-pin" id="fr-packet-pin-2">
                            <div>
                                ПОЛНЫЙ ПАКЕТ<br/>390 000 РУБЛЕЙ
                            </div>
                            <a href="#" data-toggle="modal" data-target="#fr-packet-modal-2-id">Подробнее</a>
                        </div>
                    </div>
                    <div class="fr-packet" style="margin-right: 0">
                        <img src="{{ STATIC_URL }}img/fr-packet.png" />
                        <div class="fr-packet-pin" id="fr-packet-pin-3">
                            <div>
                                ЛЮКС ПАКЕТ<br/>790 000 РУБЛЕЙ
                            </div>
                            <a href="#" data-toggle="modal" data-target="#fr-packet-modal-3-id">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="fr-block-bottom">
                    <div class="fr-block-bottom-title">ОСТАВЬте ЗАЯВКУ И ПОЛУЧИте РАЗВЕРНУТЫЙ БИЗНЕС-ПЛАН ПО КАЖДОМУ ПАКЕТУ</div>
                    <div class="fr-block-bottom-border"></div>
                    <div class="fr-bottom-form">
                        <form method="POST" class="fr-form">{% csrf_token %}
                            <div class="form-group">
                                {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                            </div>
                            <div class="form-group">
                                {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                            </div>
                            <div class="form-group" style="margin-right: 0">
                                <button class="btn btn-dark">Заказать бизнес-план</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    <div class="fr-map">
        <div class="fr-block-title">
            <div class="fr-block-title-text">ОТКРОЙТЕ СВОЙ ПРИБЫЛЬНЫЙ БИЗНЕС ПО ПРОДАЖЕ УНИКАЛЬНЫХ ЦВЕТОВ С ПРИБЫЛЬЮ ОТ 200 000 р. В МЕСЯЦ! </div>
        </div>
        <div class="fr-block-body">
            <img src="{{ STATIC_URL }}img/fr-map.jpg" />
            <div class="fr-check-city">
                <span>проверить, свободЕн ли ваш город</span>
                <button class="btn btn-dark" data-toggle="modal" data-target="#fr-check-city-id">Проверить</button>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade new-modal" id="fr-order-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Оставить заявку
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    Спасибо, за интерес к нашей компании.<br/>
                    Наш менеджер свяжется с вами в ближайшее время
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade new-modal" id="fr-check-city-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Оставить заявку
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    Проверьте,<br/>
                    свободен ли ваш город
                </div>
                <div class="modal-bottom">
                    <form method="POST" class=" fr-form">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.city|add_class:"form-control"|attr:"placeholder:Ваш город"|attr:"required:required" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"></div>
                            <div class="col-xs-6">
                                <button class="btn btn-dark">Отправить заявку</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade new-modal fr-packets-modal" id="fr-packet-modal-1-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    БАЗОВЫЙ ПАКЕТ 190 000 РУБЛЕЙ
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="fr-packet-title">
                        для ГОРОДов С НАСЕЛЕНИЕМ не более 150 000 ТЫС. ЧЕЛОВЕК
                    </div>
                    <div class="fr-packet-body">
                        1. ЭКСКЛЮЗИВНЫЕ ТЕРРИТОРИАЛЬНЫЕ ПРАВА<br/>
                        2. Уникальная продукция<br/>
                        3. Брендбук (торговая марка, логотип, дескриптор, вся печатная продукция) <br/>
                        4. Интернет-магазин, сайт. Все заказы из города поступают напрямую к обладателю<br/>
                         5. Один раз в месяц обучающие тренинги (отдел продаж, обучение руководителей, флористика, обучение специфике продукта)<br/>
                         6. Уникальный авторский контент<br/>
                        7. Рекламные материалы + фото-база из 5000 профессиональных фотографий <br/>
                        8. Поставка товара на 10 000 рублей <br/>
                        9. Бизнес-книга <br/>
                         10. Удобная CRM-система<br/>
                        11. Персональный менеджер, готовый проконсультировать в любое время<br/>
                        12. Флористический бокс<br/>
                        13. Ipad со всеми презентационными материалами
                    </div>
                </div>
                <div class="modal-bottom">
                    <form method="POST" class="fr-form">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-dark btn-block">Заказать бизнес-план</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade new-modal fr-packets-modal" id="fr-packet-modal-2-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    ПОЛНЫЙ ПАКЕТ 390 000 РУБЛЕЙ
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="fr-packet-title">
                        ДЛЯ ГОРОДОВ С НАСЕЛЕНИЕМ ОТ 150 ДО 500 ТЫС. ЧЕЛОВЕК
                    </div>
                    <div class="fr-packet-body">
                        1. ЭКСКЛЮЗИВНЫЕ ТЕРРИТОРИАЛЬНЫЕ ПРАВА<br/>
                        2.Уникальная продукция<br/>
                        3. Брендбук (торговая марка, логотип, дескриптор, вся печатная продукция) <br/>
                        4.Интернет-магазин, сайт. Все заказы из города поступают напрямую к обладателю<br/>
                        5. Реклама в интернете и прессе, имиджевая реклама, региональные, международные выставки <br/>
                        6. Один раз в месяц обучающие тренинги(отдел продаж, обучение руководителей, флористика, обучение специфике продукта) <br/>
                        7.Уникальный авторский контент  <br/>
                        8. Рекламные материалы + фото-база из 5000 профессиональных фотографий <br/>
                        9. Поставка товара на 50 000 рублей <br/>
                        10. Бизнес-книга <br/>
                         11. Удобная CRM-система<br/>
                        12. Персональный менеджер, готовый проконсультировать в любое время<br/>
                        13. Флористический бокс<br/>
                        14. Ipad со всеми презентационными материалами
                    </div>
                </div>
                <div class="modal-bottom">
                    <form method="POST" class="fr-form">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-dark btn-block">Заказать бизнес-план</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade new-modal fr-packets-modal" id="fr-packet-modal-3-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    ЛЮКС ПАКЕТ 790 000 РУБЛЕЙ
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="fr-packet-title">
                        ДЛЯ ГОРОДОВ С НАСЕЛЕНИЕМ ОТ 500 ТЫС. ЧЕЛОВЕК
                    </div>
                    <div class="fr-packet-body">
                        1. ЭКСКЛЮЗИВНЫЕ ТЕРРИТОРИАЛЬНЫЕ ПРАВА<br/>
                        2. Уникальная продукция<br/>
                        3. Брендбук (торговая марка, логотип, дескриптор, вся печатная продукция) <br/>
                        4. Интернет-магазин, сайт. Все заказы из города поступают напрямую к обладателю<br/>
                        5. Реклама в интернете и прессе, имиджевая реклама, региональные, международные выставки <br/>
                        6. Один раз в месяц обучающие тренинги(отдел продаж, обучение руководителей, флористика, обучение специфике продукта)<br/>
                         7. Уникальный авторский контент  <br/>
                        8. Рекламные материалы + фото-база из 5000 профессиональных фотографий <br/>
                        9. Поставка товара на 120 000 рублей<br/>
                        10. Накопительные скидки<br/>
                        11. База клиентов федерального уровня
                         12. Бизнес-книга  
                        13. Удобная CRM-система<br/>
                        14. Персональный менеджер, готовый проконсультировать в любое время<br/>
                        15. Флористический бокс<br/>
                        16. Ipad со всеми презентационными материалами<br/>
                        17. Выезд нашего специалиста ( открытие бизнеса под ключ)
                    </div>
                </div>
                <div class="modal-bottom">
                    <form method="POST" class="fr-form">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.name|add_class:"form-control"|attr:"placeholder:Ваше имя"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.email|add_class:"form-control"|attr:"placeholder:Ваш E-mail"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form.phone|add_class:"form-control"|attr:"placeholder:Ваш телефон"|attr:"required:required" }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-dark btn-block">Заказать бизнес-план</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block categories %}{% endblock %}