{% extends 'base.html' %}

{% load thumbnail %}
{% load price_type_tags %}
{% block content %}
    <div class="main-banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for banner in banners %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <a href="{{ banner.link }}">
                        <img src="{{ MEDIA_URL }}{{ banner.image }}" rel="{{ forloop.counter0 }}" oncontextmenu="return false" ondragstart="return false">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
{#    <a href="#">#}
{#        <img src="{{ STATIC_URL }}img/banner1.jpg" />#}
{#    </a>#}
    </div>
    <div class="slider-controls"></div>
    <div class="slider-controls-border"></div>
    <div class="actions container">
        {% for spec in specs %}
        <div class="actions-spec-item">
            <div class=" action-item">
                <div class="action-title">
                    <a href="{% url 'spec-items' slug=spec.slug %}">{{ spec.name }} &rarr;</a>
                </div>
                <div class="action-body">
                    <div class="action-description">
                        {{ spec.desc }}
                    </div>
                    <div class="action-more">
                        <a href="{% url 'items' %}">Смотреть весь каталог...</a>
                    </div>
                </div>
            </div>
            <div class="goods">
                {% for item in spec.get_items|visible_by_user:request.user|slice:"5" %}
                    <div class="good-item">
                        <a href="{% url 'item-detail' slug=item.slug %}">
                            {% if item.is_leader %}
                                <div class="items-widget heart"></div>
                            {% endif %}
                            {% if item.is_new %}
                                <div class="items-widget new"></div>
                            {% endif %}
                            {% if item.is_sales %}
                                <div class="items-widget sales"></div>
                            {% endif %}
                            <div class="good-item-preview-border">
                                {% thumbnail item.images.all.0.image "100x100" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.heigth }}" oncontextmenu="return false" ondragstart="return false" />
                                {% endthumbnail %}
                            </div>
                        </a>
                        <div class="good-item-name">
                            {{ item.name }}
                        </div>
                        <div class="good-item-price">{% get_price item request.user %} руб.</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="actions-border"></div>
    <div class="news container">
        <div class="row">
            <div class=" action-item">
                <div class="action-title">
                    <a href="{% url 'news' %}">Новости &rarr;</a>
                </div>
                <div class="action-body">
                    <div class="action-description">
                        {{ news_desc.text }}
                    </div>
                    <div class="action-more">
                        <a href="{% url 'news' %}">Читать дальше...</a>
                    </div>
                </div>
            </div>
            {% for n in news %}
            <div class=" news-item">
                <a href="{% url 'news-item' pk=n.pk %}">
                {% thumbnail n.images.all.0.photo "242x141" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false" />
                {% endthumbnail %}
                </a>
                <div class="news-title">{{ n.title }}</div>
                <div class="news-date">{{ n.created|date:"M d, Y" }} &middot; {{ n.num_comments }} Comments</div>
                <div class="news-description">
                    {{ n.short_desc }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="main-page-text-block container">
        <div class="action-title">{{ main_page_test_block.name }}</div>
        <div class="main-page-text">{{ main_page_test_block.text|linebreaksbr }}</div>
    </div>
    {% include 'subscribe.html' %}
{% endblock %}