<html>
<head>
    <title>Terra Fiori. Цветы из эко-силикона, абсолютная имитация живых уветов</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"> </head> <body>
<div class="main">Мы обновляем наш сайт</div>
<div class="date">Скоро открытие</div>
<div class="FAQ">8(812)315-33-04</div>
<div class="FAQ">Все вопросы по почтe:</div>
<div class="email">info@terrafiori.com</div>
<div class="container modal-block">
    <button data-toggle="modal" data-target="#feedbackModal" class="btn btn-success btn-lg">Напишите нам</button>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-hidden>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" id="feedbackForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ваше имя</label>
                                <input class="form-control" name="name" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ваш e-mail</label>
                                <input class="form-control" name="email" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ваше сообщение</label>
                        <textarea rows=6 class="form-control" name="text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary feedback-send">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <a href="http://vk.com/club59749897"><img src="{{ STATIC_URL }}img/vk-icon.png" width="30" /></a>
        <a href="http://instagram.com/terrafiori">
            <img src="{{ STATIC_URL }}img/instagramm-icon.png" width="33" />
        </a>
    </div>
    <div class="container">
        <p>&copy; Все права защищены. 2014</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
</body>
</html>