{% extends 'catalog_base.html' %}

{% load thumbnail %}

{% load price_type_tags %}

{% block catalog_content %}
    <div class="item-detail">
        <div class="item-images">
            <div class="item-big-pic">
                {% thumbnail item.images.all.0.image "330x330" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                         oncontextmenu="return false" ondragstart="return false"
                         data-zoom-image="{{ MEDIA_URL }}{{ item.images.all.0.image }}" />
                {% endthumbnail %}
            </div>
            <div class="item-thumbs-wrapper">
                {% if item.images.count > 4 %}
                    <a href="#" id="item-thumbs-prev">
                        <img src="{{ STATIC_URL }}/img/top-arrow.png" />
                    </a>
                {% endif %}
                <div class="item-thumbs" data-cycle-carousel-vertical=true data-cycle-carousel-visible=4 data-cycle-timeout=0>
                    {% for img in item.images.all %}

                        {% thumbnail img.image "330x330" crop="center" as big_im %}
                            <a rel="{{ MEDIA_URL }}{{ img.image }}" href="{{ big_im.url }}" {% if forloop.first %}class="chosen"{% endif %} {% if img.color %}id="item-image-for-color-{{ img.color.pk }}"{% endif %}>
                        {% endthumbnail %}

                        {% if item.images.count > 4 %}
                            {% thumbnail img.image "85x85" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false" />
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail img.image "79x79" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false" />
                            {% endthumbnail %}
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
                {% if item.images.count > 4 %}
                    <a href="#" id="item-thumbs-next">
                        <img src="{{ STATIC_URL }}/img/down-arrow.png" />
                    </a>
                {% endif %}
            </div>
            <script type="text/javascript" src="//yandex.st/share/share.js"
                    charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru"
                 data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>
        </div>
        <div class="item-cart">
            <h1>{{ item.name|title }}</h1>
                {% if request.user.is_rent or request.user.is_opt %}
                {% else %}
                    <select class="buy-type">
                        {% if item|is_visible_price_type:'rozn' %}
                        <option value="rozn" {% if price_type == 'rozn' %}selected{% endif %}>Розница</option>
                        {% endif %}
                        {% if item|is_visible_price_type:'opt' %}
                        <option value="opt" {% if price_type == 'opt' %}selected{% endif %}>Опт</option>
                        {% endif %}
                        {% if item|is_visible_price_type:"rent" %}
                        <option value="rent" {% if price_type == 'rent' %}selected{% endif %}>Аренда</option>
                        {% endif %}
                    </select>
                {% endif %}
                {% if item.colors.count %}
                <select class="item-color" name="item_color">
                    {% for color in item.colors.all %}
                        <option value="{{ color.pk }}">{{ color.name }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            <div class="art">Артикул: {{ item.art }}</div>
            {% if item.exists %}
            <div class="exists">в наличии</div>
            {% endif %}
            <div class="price">цена: <span class="{% if not request.user.is_rent and not request.user.is_opt and item.oldprice %}price-updated{% endif %}">{% get_price item request.user %} руб</span>
                {% if not request.user.is_opt and not request.user.is_rent and item.oldprice %}
                    <div class="old-price">
                        <span>{{ item.oldprice }} руб.</span>
                    </div>
                {% endif %}
            </div>
{#            <div class="chars">#}
{#                <b>Состав: </b>#}
{#                <span>{{ item.consist }}</span>#}
{#            </div>#}
            {% if item.desc %}
            <div class="desc">
                <div class="desc-title">Описание</div>
                <div class="desc-text">
                    {{ item.desc|linebreaksbr }}
                </div>
            </div>
            {% endif %}
            <div class="buy-block">
                <span>Количество: </span>
                <select class="buy-count">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <button data-item-pk="{{ item.pk }}" class="btn btn-default btn-dark btn-buy" data-toggle="modal" onclick="yaCounter25536599.reachGoal('kupit'); return true;" data-target="#buy-modal-id">Купить</button>
            </div>
        </div>
    </div>
    {% if item.addon_items.count %}
    <div class="addon-items">
    <div class="action-item">
        <div class="action-title">
            <a href="#">доп. товары &rarr;</a>
        </div>
        <div class="action-body">
            <div class="action-description">
                У нас можно приобрести цветы по выгодным ценам
            </div>
            <div class="action-more">
                <a href="{% url 'items' %}">Смотреть весь каталог...</a>
            </div>
        </div>
    </div>
        {% for ai in item.addon_items.all|visible_by_user:request.user|slice:"5" %}
        <div class="good-item">
            <a href="{% url 'item-detail' slug=ai.slug %}">
                <div class="good-item-preview-border">
                    {% thumbnail ai.images.all.0.image "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false" />
                    {% endthumbnail %}
                </div>
            </a>
            <div class="good-item-name">
                {{ ai.name }}
            </div>
            <div class="good-item-price">{% get_price ai request.user %} руб.</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{#    <div class="addon-services">#}
{#        <div class="action-item">#}
{#            <div class="action-title">#}
{#                <a href="#">доп. услуги &rarr;</a>#}
{#            </div>#}
{#            <div class="action-body">#}
{#                <div class="action-description">#}
{#                    Здесь мы хотели бы познакомить Вас с нашими новинками#}
{#                </div>#}
{#                <div class="action-more">#}
{#                    <a href="#">Смотреть весь каталог...</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="good-item" style="margin-left: 23px">#}
{#            <a href="#">#}
{#                <div class="good-item-preview-border">#}
{#                    <img src="{{ STATIC_URL }}img/flowers0.png" width="100" height="100" />#}
{#                </div>#}
{#            </a>#}
{#            <div class="good-item-name">#}
{#                Название цветов#}
{#            </div>#}
{#            <div class="good-item-price">3000 руб.</div>#}
{#        </div>#}
{#        <div class="good-item">#}
{#            <a href="#">#}
{#                <div class="good-item-preview-border">#}
{#                    <img src="{{ STATIC_URL }}img/flowers0.png" width="100" height="100" />#}
{#                </div>#}
{#            </a>#}
{#            <div class="good-item-name">#}
{#                Название цветов#}
{#            </div>#}
{#            <div class="good-item-price">3000 руб.</div>#}
{#        </div>#}
{#        <div class="good-item">#}
{#            <a href="#">#}
{#                <div class="good-item-preview-border">#}
{#                    <img src="{{ STATIC_URL }}img/flowers0.png" width="100" height="100" />#}
{#                </div>#}
{#            </a>#}
{#            <div class="good-item-name">#}
{#                Название цветов#}
{#            </div>#}
{#            <div class="good-item-price">3000 руб.</div>#}
{#        </div>#}
{#        <div class="good-item">#}
{#            <a href="#">#}
{#                <div class="good-item-preview-border">#}
{#                    <img src="{{ STATIC_URL }}img/flowers0.png" width="100" height="100" />#}
{#                </div>#}
{#            </a>#}
{#            <div class="good-item-name">#}
{#                Название цветов#}
{#            </div>#}
{#            <div class="good-item-price">3000 руб.</div>#}
{#        </div>#}
{#    </div>#}
    <div class="comments">
        <div class="comments-title">
            Оставить комментарий <span></span>
        </div>
        <div class="vk-comments">
            <!-- Put this div tag to the place, where the Comments block will be -->
            <div id="vk_comments"></div>
            <script type="text/javascript">
                VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
            </script>
        </div>
    </div>
    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-hidden>
        <div class="modal-dialog" style="width: 500px; margin: 30px auto;">
            <div class="modal-content">
                <form method="post" id="buy-form" action="{% url 'item-buy' %}">
                <div class="modal-body">
                    <div class="required-info" style="display: none">Поле e-mail обязательно для заполнения</div>
                    <div class="success-info" style="display: none">Спасибо, ваш заказ отправлен. В ближайшее время мы свяжемся с вами</div>
                    <div class="error-info" style="display: none">К сожалению произошла ошибка при заказе.
                    Если она повторяется - напишите нам на почту info@terrafiori.com</div>
                        {% csrf_token %}
                    <div class="buy-data">
                        <p>Оставьте свои контактные данные и мы свяжемся с вами</p>
                        <input type="hidden" name="item" value="{{ item.slug }}" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ваше имя</label>
                                    <input class="form-control" name="name" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ваш e-mail <span>*</span></label>
                                    <input class="form-control" name="email" required="required" />
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ваше сообщение</label>
                            <textarea rows=6 class="form-control" name="text"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary buy-send">Отправить</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="buy-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                <div class="to-cart-body">
                    <a href="{% url 'cart' %}" class="cart-line-modal">Перейти в корзину <span>&rarr;</span></a>
                    {% if item.addon_items.count %}
                    <p>
                        {{ push_good_in_cart.text|safe }}
                    </p>
                    <div class="addon-items">
                        <div class="action-item">
                            <div class="action-title">
                                <a href="#">доп. товары &rarr;</a>
                            </div>
                            <div class="action-body">
                                <div class="action-description">
                                    У нас можно приобрести цветы по выгодным ценам
                                </div>
                            </div>
                        </div>
                        {% for ai in item.addon_items.all|visible_by_user:request.user|slice:"3" %}
                            <div class="good-item">
                                <a href="{% url 'item-detail' slug=ai.slug %}">
                                    <div class="good-item-preview-border">
                                        {% thumbnail ai.images.all.0.image "100x100" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false" />
                                        {% endthumbnail %}
                                    </div>
                                </a>
                                <div class="good-item-name">
                                    {{ ai.name }}
                                </div>
                                <div class="good-item-price">{% get_price ai request.user %} руб.</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>

                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block inner_js %}
    {% if item.images.count > 4 %}
        <script type="text/javascript">
            $(function(){
                $(".item-thumbs").cycle({
                    prev: "#item-thumbs-prev",
                    next: "#item-thumbs-next",
                    slides: "> a",
                    fx: "carousel",
{#                    "carousel-visible": 4,#}
{#                    "carousel-vertical": true#}
                });
{#                $(".item-thumbs").rcarousel({#}
{#                    visible: 4,#}
{#                    height: 85,#}
{#                    width: 85,#}
{#                    margin: 7,#}
{#                    step: 1,#}
{#                    orientation: "vertical",#}
{#                    navigation: {#}
{#                    prev: "#item-thumbs-prev",#}
{#                    next: "#item-thumbs-next"#}
{#                    }#}
{#                    });#}
            });
        </script>
    {% endif %}
{% endblock %}