{% extends 'catalog_base.html' %}

{% load thumbnail %}
{% load price_type_tags %}

{% block catalog_bg %}bg{% endblock %}

{% block catalog_style %}
    {% if category_active and category_active.big_image %}
    style="background: url('{{ category_active.big_image.url }}') center center no-repeat"
    {% endif %}
{% endblock %}

{% block catalog_content %}
    <div class="items-sort-page">
        <div class="items-sort">
            <form method="POST">
                {% csrf_token %}
                <span>Сортировать: </span>
                {% if sort_field == "name" %}
                    <button name="sort_field" value="-name">Название
                    <span class="sort-arrow-up"></span>
                    </button>
                {% else %}
                    <button name="sort_field" value="name">Название
                        {% if sort_field == "-name" %}
                            <span class="sort-arrow-down"></span>
                        {% endif %}
                    </button>
                {% endif %}
                <span>\</span>
                {% if sort_field == "art" %}
                    <button name="sort_field" value="-art">Артикул
                        <span class="sort-arrow-up"></span>
                    </button>
                {% else %}
                    <button name="sort_field" value="art">Артикул
                        {% if sort_field == "-art" %}
                            <span class="sort-arrow-down"></span>
                        {% endif %}
                    </button>
                {% endif %}
                <span>\</span>
                {% if sort_field == "price" %}
                    <button name="sort_field" value="-price">Цена
                        <span class="sort-arrow-up"></span>
                    </button>
                {% else %}
                    <button name="sort_field" value="price">Цена
                        {% if sort_field == "-price" %}
                            <span class="sort-arrow-down"></span>
                        {% endif %}
                    </button>
                {% endif %}
            </form>
        </div>
        {% if is_paginated %}
            <div class="pagination pull-right">
                {% for i in paginator.page_range %}
                    <a href="?page={{ i }}" {% if i == page_obj.number %}class="active"{% endif %}>{{ i }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="items-body">
    {% for item in items %}
    <div class="good-item">
        <a href="{% url 'item-detail' slug=item.slug %}">
            {% if item.is_leader %}
                <div class="items-widget heart"></div>
            {% endif %}
            {% if item.is_new %}
                <div class="items-widget new"></div>
            {% endif %}
            {% if item.is_sales %}
                <div class="items-widget sales"></div>
            {% endif %}
            <div class="good-item-preview-border">
                {% thumbnail item.images.all.0.image "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false" ondragstart="return false" />
                {% endthumbnail %}
            </div>
        </a>
        <div class="good-item-name">
            {{ item.name }}
        </div>
        <div class="good-item-price">{% get_price item request.user %} руб.</div>
        {% if item.oldprice %}
            <span style='color:red;text-decoration:line-through'>
                <span style='color:black'>{{ item.oldprice }}</span>
            </span>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    <div class="items-sort-page bottom">
        {% if is_paginated %}
            <div class="pagination pull-right">
                {% for i in paginator.page_range %}
                    <a href="?page={{ i }}" {% if i == page_obj.number %}class="active"{% endif %}>{{ i }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}