{% extends 'news_base.html' %}

{% load thumbnail %}

{% block news_content %}
    <div class="items-sort-page">
        {% if is_paginated %}
            <div class="pagination pull-right">
                {% for i in paginator.page_range %}
                    <a href="?page={{ i }}" {% if i == page_obj.number %}class="active"{% endif %}>{{ i }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="news news-page">
        {% for n in news %}
            <div class=" news-item" {% if forloop.counter|divisibleby:"4" %} style="margin-right: 0"{% endif %}>
            <a href="{% url 'news-item' pk=n.pk %}">
                {% thumbnail n.images.all.0.photo "230x141" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% endthumbnail %}
            </a>
                <div class="news-title">{{ n.title }}</div>
                <div class="news-date">{{ n.created|date:"M d, Y" }} &middot; {{ n.num_comments }} Comments</div>
                <div class="news-description">
                    {{ n.short_desc }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}