{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                    <li>
                        {% if forloop.last %}
                            <span>{{ b.0 }}</span>
                        {% else %}
                            <a href="{{ b.1 }}">{{ b.0 }}</a>
                        {% endif %}
                    </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% block news_content %}
        {% endblock %}
    </div>
{% endblock %}