{% extends 'news_base.html' %}

{% load thumbnail %}

{% block news_content %}
    <div class="news news-page">
        <div class="news-detail">
            <div class="news-photo">
                <div class="news-big-pic">
                    {% thumbnail n.images.all.0.photo "484x302" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>
                <div class="news-thumbs" style="{% if n.images.count > 3 %}margin-left: 30px;width: 425px;{% endif %}">
                    {% for an in n.images.all %}
                        {% thumbnail an.photo "484x302" crop="center" as im %}
                        <a href="{{ im.url }}">
                        {% endthumbnail %}
                            {% thumbnail an.photo "140x109" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </a>
                    {% endfor %}
                </div>
                {% if n.images.count > 3 %}
                    <a href="#" class="news-thumbs-left">
                        <img src="{{ STATIC_URL }}img/left-arrow.png" />
                    </a>
                    <a href="#" class="news-thumbs-right">
                        <img src="{{ STATIC_URL }}img/right-arrow.png" />
                    </a>
                {% endif %}
            </div>
            <div class="news-text">
                <div class="news-title">{{ n.title }}</div>
                <div class="news-date">{{ n.created|date:"M 2, Y" }} &middot; {{ n.num_comments }} Comments</div>
                <div class="news-description">
                    {{ n.text }}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="//yandex.st/share/share.js"
                charset="utf-8"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>
        <div class="comments">
            <div class="comments-title">
                Оставить комментарий <span></span>
            </div>
            <div class="vk-comments">
                <!-- Put this div tag to the place, where the Comments block will be -->
                <div id="vk_comments"></div>
                <script type="text/javascript">
                    if(window.screen.width <= 769){
                        VK.Widgets.Comments("vk_comments", {limit: 10, width: "750", attach: "*"});
                    }
                    else{
                        VK.Widgets.Comments("vk_comments", {limit: 10, width: "846", attach: "*"});
                    }
                </script>
            </div>
        </div>
        <div class="news-pagination">
            {% if prev_news %}
                <a href="{% url 'news-item' pk=prev_news.pk %}" class="pull-left">< Назад</a>
            {% endif %}
            {% if next_news %}
                <a href="{% url 'news-item' pk=next_news.pk %}" class="pull-right">Вперед ></a>
            {% endif %}
        </div>
    </div>
{% endblock %}