{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class=" flatpage container">
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                    <li>
                        {% if forloop.last %}
                            <span>{{ b.0 }}</span>
                        {% else %}
                            <a href="{{ b.1 }}">{{ b.0 }}</a>
                        {% endif %}
                    </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    <div class="flat-images">
        {% thumbnail images.0.image '458x393' crop='center' as im %}
            <img class="first" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
        {% thumbnail images.1.image '458x393' crop='center' as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
    </div>
    <div class="flat-body">
        <div class="action-title">
            <span>{{ page.name }}</span>
        </div>
        <div class="flat-text">
            {{ page.text|linebreaksbr }}
        </div>
    </div>
    <div class="action-more last">
        <a href="{% url 'items' %}">Перейти в каталог...</a>
    </div>
    </div>
{% endblock %}