<div class="subscribe container">
    <div class="subscribe-left">
        <div class="action-title">ПОДПИСАТЬСЯ НА НАШИ НОВОСТИ</div>
        <div class="subscribe-desc">Новые коллекции, новые поступления, скидки, специальные предложения</div>
    </div>
    <div class="subscribe-right">
        <div class="success-subscriber">
            Поздравляю, Вы успешно подписались
        </div>
        <form id="subscribe-form-id">{% csrf_token %}
            <input class="form-control" name="email" placeholder="Ваш e-mail" />
            <button class="btn btn-dark">Подписаться</button>
        </form>
    </div>
</div>