{% extends 'base.html' %}

{% block content %}
    <div class="categories-border"></div>
    <div class="container catalog ">
    <div class="catalog-menu">
        <div class="action-title">
            <span>Личный кабинет</span>
        </div>
        <div class="spec-items">
            <ul>
                <li >
                    <a href="#" onclick="return false;">Заказы
                        <span class="hover-arrow"></span>
                    </a>
                    <ul>
                        {% for o in orders %}
                        <li {% if o.pk == order.pk %}class="active"{% endif %}>
                            <a href="{% url 'profile_order' pk=o.pk %}">Заказ №{{ o.pk }}
                                <span class="hover-arrow"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li {% if active_profile == 'profile' %}class="active"{% endif %}>
                    <a href="{% url 'profile' %}">Профиль
                        <span class="hover-arrow"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="catalog-items {% block catalog_bg %}{% endblock %}">
    <div class="catalog-items-top">
        <div class="basket pull-right">
            <div class="basket-icon"></div>
            <a href="{% url 'cart' %}">
                <div>Моя Корзина </div>
            </a>
            <div class="number-in-basket basket-top"> {{ cart.count|default:"Пуста" }}</div>
        </div>
        <div class="breadcrumbs">
            <ul class="">
                {% for b in breadcrumbs %}
                <li>
                    {% if forloop.last %}
                        <span>{{ b.0 }}</span>
                    {% else %}
                        <a href="{{ b.1 }}">{{ b.0 }}</a>
                    {% endif %}
                </li>
                    {% if not forloop.last %}
                        <li>
                            <span> > </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        {% block private_content %}{% endblock %}
    </div>

    </div>
{% endblock %}

{% block categories %}{% endblock %}