{% extends 'base.html' %}

{% block content %}
    <div class="categories-border"></div>
    <div class="container catalog ">
        <div class="login-form-block">
            <form method="POST">
                <div class="form-group">
                    <label>
                        <input name="email" class="form-control" placeholder="Ваш e-mail" type="text" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input name="password" class="form-control" placeholder="Ваш пароль" type="password" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <button class="btn btn-dark">Войти</button>
                    </label>
                </div>
            </form>
        </div>
    </div>
{% endblock %}