{% extends 'private/base.html' %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block private_content %}
    <div class="private-data-block">
        <div class="order-info">
            <div>Создан: <span>{{ order.created }}</span></div>
        </div>
        <div class="order-info">
            <div>Сумма: <span>{{ order.total_summary }}</span> руб.</div>
        </div>
        <div class="order-info">
            <div>Статус: <span>{{ order.get_status }}</span></div>
        </div>
    </div>
            <div class="cart-items">
                <table class="table">
                <thead>
                    <tr>
                        <td style="width: 175px" class="bg-dark">
                            <div class="action-title">ПРОДУКТ</div>
                        </td>
                        <td style="width: 50%">
                            <div class="action-title">ОПИСАНИЕ</div>
                        </td>
                        <td class="bg-dark">
                            <div class="action-title">
                                ЦЕНА
                            </div>
                        </td>
                        <td>
                            <div class="action-title">
                                Кол-во
                            </div>
                        </td>
                        <td class="bg-dark">
                            <div class="action-title">
                                СУММА
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.cart.item_set.all %}
                    <tr class="cart-item">
                        <td class="cart-item-img bg-dark">
                            {% thumbnail item.product.images.all.0.image "100x100" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                        </td>
                        <td>
                            <h1>{{ item.product.name }}</h1>
                            <div class="art">Артикул: {{ item.product.art }}</div>
                            {% if item.product.desc %}
                                <div class="desc">
                                    <div class="desc-title">Описание</div>
                                    <div class="desc-text">
                                        {{ item.product.desc|linebreaksbr|truncatewords_html:"5" }}
                                    </div>
                                    <div class="cart-item-more">
                                        <a target="_blank" href="{% url 'item-detail' slug=item.product.slug %}">Подробнее...</a>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td class="bg-dark cart-money">
                            {{ item.unit_price }} руб.
                        </td>
                        <td>
                            <div class="cart-count number-in-basket">{{ item.quantity }}</div>
                        </td>
                        <td class="bg-dark cart-money">
                            <div class="cart-summ">{{ item.total_price }} руб.</div>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
                </table>
            </div>
{% endblock %}