{% extends 'private/base.html' %}

{% load widget_tweaks %}

{% block private_content %}
    <div class="private-data-block">
        <form method="POST" class="private-controls">
            {% csrf_token %}
            <div class="form-group">
                {{ form.first_name|add_class:"form-control"|attr:"placeholder:Имя" }}
            </div>
            <div class="form-group">
                {{ form.last_name|add_class:"form-control"|attr:"placeholder:Фамилия" }}
            </div>
            <div class="form-group">
                {{ form.middle_name|add_class:"form-control"|attr:"placeholder:Отчество" }}
            </div>
            <div class="form-group">
                {{ form.phone|add_class:"form-control"|attr:"placeholder:Телефон" }}
            </div>
            <div class="form-group">
                {{ form.email|add_class:"form-control"|attr:"placeholder:E-mail" }}
            </div>
            <div class="form-group">
                {{ form.city|add_class:"form-control"|attr:"placeholder:Город" }}
            </div>
            <div class="form-group">
                {{ form.idx|add_class:"form-control"|attr:"placeholder:Индекс" }}
            </div>
            <div class="form-group">
                {{ form.address|add_class:"form-control"|attr:"placeholder:Адрес" }}
            </div>
            <div class="form-group">
                <button class="btn btn-dark">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}